In [1]:
#!pip install bs4
#!pip install requests

In [2]:
#importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

Extracting data from Web Page

# 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [3]:
#checking site response for scraping
page= requests.get("http://en.wikipedia.org/wiki/Main_Page")
page

we get response [200] so we scrap

In [4]:
soup=BeautifulSoup(page.content)

In [5]:
#finding all header tags
nameh1=soup.find_all('h1', class_="firstHeading")
nameh2=soup.find_all('h2', class_="mp-h2")
nameh3=soup.find_all('h3', class_="vector-menu-heading")

In [6]:
tag_list=nameh1+ nameh2+ nameh3
#creating loop to get result
header_name=[] #empty list
for i in tag_list:
    header_name.append(i.text.replace('\n',""))
header_name

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame

In [7]:
#checking site response for scraping
page= requests.get("https://www.imdb.com/chart/top/")
page

we get response [200] so we scrap

In [8]:
soup=BeautifulSoup(page.content)

In [9]:
#Extracting Top rated 100 movies name
movie_names=soup.find_all('td', class_="titleColumn")
#Creating a list of top 100 movies by for loop
top_movies_name=[] #empty list
for i in movie_names:
    top_movies_name.append(i.text.replace('\n',""))
top_movies_name[:100]

['      1.      The Shawshank Redemption(1994)',
 '      2.      The Godfather(1972)',
 '      3.      The Godfather: Part II(1974)',
 '      4.      The Dark Knight(2008)',
 '      5.      12 Angry Men(1957)',
 "      6.      Schindler's List(1993)",
 '      7.      The Lord of the Rings: The Return of the King(2003)',
 '      8.      Pulp Fiction(1994)',
 '      9.      Il buono, il brutto, il cattivo(1966)',
 '      10.      The Lord of the Rings: The Fellowship of the Ring(2001)',
 '      11.      Fight Club(1999)',
 '      12.      Forrest Gump(1994)',
 '      13.      Inception(2010)',
 '      14.      The Lord of the Rings: The Two Towers(2002)',
 '      15.      Star Wars: Episode V - The Empire Strikes Back(1980)',
 '      16.      The Matrix(1999)',
 '      17.      Goodfellas(1990)',
 "      18.      One Flew Over the Cuckoo's Nest(1975)",
 '      19.      Shichinin no samurai(1954)',
 '      20.      Se7en(1995)',
 '      21.      The Silence of the Lambs(1991)',
 '      22.      Cidade de Deus(2002)',
 "      23.      It's a Wonderful Life(1946)",
 '      24.      La vita è bella(1997)',
 '      25.      Star Wars(1977)',
 '      26.      Saving Private Ryan(1998)',
 '      27.      Sen to Chihiro no kamikakushi(2001)',
 '      28.      Interstellar(2014)',
 '      29.      The Green Mile(1999)',
 '      30.      Gisaengchung(2019)',
 '      31.      Léon(1994)',
 '      32.      Seppuku(1962)',
 '      33.      The Usual Suspects(1995)',
 '      34.      The Pianist(2002)',
 '      35.      Back to the Future(1985)',
 '      36.      Terminator 2: Judgment Day(1991)',
 '      37.      Psycho(1960)',
 '      38.      Modern Times(1936)',
 '      39.      The Lion King(1994)',
 '      40.      American History X(1998)',
 '      41.      City Lights(1931)',
 '      42.      Gladiator(2000)',
 '      43.      Whiplash(2014)',
 '      44.      The Departed(2006)',
 '      45.      Hotaru no haka(1988)',
 '      46.      The Intouchables(2011)',
 '      47.      The Prestige(2006)',
 '      48.      Casablanca(1942)',
 '      49.      Once Upon a Time in the West(1968)',
 '      50.      Rear Window(1954)',
 '      51.      Nuovo Cinema Paradiso(1988)',
 '      52.      Alien(1979)',
 '      53.      Apocalypse Now(1979)',
 '      54.      Memento(2000)',
 '      55.      Raiders of the Lost Ark(1981)',
 '      56.      The Great Dictator(1940)',
 '      57.      The Lives of Others(2006)',
 '      58.      Django Unchained(2012)',
 '      59.      Paths of Glory(1957)',
 '      60.      Sunset Blvd.(1950)',
 '      61.      WALL·E(2008)',
 '      62.      The Shining(1980)',
 '      63.      Witness for the Prosecution(1957)',
 '      64.      Avengers: Infinity War(2018)',
 '      65.      Joker(2019)',
 '      66.      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '      67.      Spider-Man: Into the Spider-Verse(2018)',
 '      68.      Oldeuboi(2003)',
 '      69.      Mononoke-hime(1997)',
 '      70.      Hamilton(2020)',
 '      71.      Once Upon a Time in America(1984)',
 '      72.      Kimi no na wa.(2016)',
 '      73.      The Dark Knight Rises(2012)',
 '      74.      Aliens(1986)',
 '      75.      Coco(2017)',
 '      76.      Pather Panchali(1955)',
 '      77.      Das Boot(1981)',
 '      78.      Capharnaüm(2018)',
 '      79.      Avengers: Endgame(2019)',
 '      80.      Tengoku to jigoku(1963)',
 '      81.      American Beauty(1999)',
 '      82.      Toy Story(1995)',
 '      83.      Braveheart(1995)',
 '      84.      Amadeus(1984)',
 '      85.      3 Idiots(2009)',
 '      86.      Inglourious Basterds(2009)',
 '      87.      Good Will Hunting(1997)',
 '      88.      Star Wars: Episode VI - Return of the Jedi(1983)',
 '      89.      2001: A Space Odyssey(1968)',
 '      90.      Reservoir Dogs(1992)',
 '      91.      M - Eine Stadt sucht einen Mörder(1931)',
 '      92.      Taare Zameen Par(2007)',
 '      93.      Citizen Kane(1941)',
 '      94.      Vertigo(1958)',
 '      95.      Requiem for a Dream(2000)',
 '      96.      Jagten(2012)',
 '      97.      Idi i smotri(1985)',
 "      98.      Singin' in the Rain(1952)",
 '      99.      North by Northwest(1959)',
 '      100.      Eternal Sunshine of the Spotless Mind(2004)']

In [10]:
#IMDB Rating of movies
movie_ratings=soup.find_all('td', class_="ratingColumn imdbRating")
#creating list of movie rating 
top_movies_rating=[] #empty list
for i in movie_ratings:
    top_movies_rating.append(i.text.replace('\n',""))
top_movies_rating

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [11]:
#creating dataframe of movies
Movies=pd.DataFrame({})
Movies['Name']=top_movies_name
Movies['Rating']=top_movies_rating

Movies_100= Movies[:100]

#list of top 100 moview along with there year of realesing and ratings
Movies_100

                                                 Name Rating
0              1.      The Shawshank Redemption(1994)    9.2
1                         2.      The Godfather(1972)    9.1
2                3.      The Godfather: Part II(1974)    9.0
3                       4.      The Dark Knight(2008)    9.0
4                          5.      12 Angry Men(1957)    8.9
..                                                ...    ...
95                              96.      Jagten(2012)    8.3
96                        97.      Idi i smotri(1985)    8.3
97                 98.      Singin' in the Rain(1952)    8.3
98                  99.      North by Northwest(1959)    8.3
99        100.      Eternal Sunshine of the Spotle...    8.3

[100 rows x 2 columns]

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [12]:
#checking site response for scraping
page= requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page

we get response [200] so we scrap

In [13]:
soup=BeautifulSoup(page.content)

In [14]:
#Extracting Top rated 100 Indian movies name
IM_name=soup.find_all('td', class_="titleColumn")
#Creating a list of top indian movies by for loop
Indian_movies_name=[] #empty list
for i in IM_name:
    Indian_movies_name.append(i.text.replace('\n',""))
Indian_movies_name

['      1.      Pather Panchali(1955)',
 '      2.      Nayakan(1987)',
 '      3.      Pariyerum Perumal(2018)',
 '      4.      Anbe Sivam(2003)',
 '      5.      Golmaal(1979)',
 '      6.      C/o Kancharapalem(2018)',
 '      7.      Apur Sansar(1959)',
 '      8.      Kireedam(1989)',
 '      9.      Manichitrathazhu(1993)',
 '      10.      Natsamrat(2016)',
 '      11.      96(2018)',
 '      12.      Black Friday(2004)',
 '      13.      Thevar Magan(1992)',
 '      14.      Drishyam 2(2021)',
 '      15.      Kumbalangi Nights(2019)',
 '      16.      3 Idiots(2009)',
 '      17.      Visaaranai(2015)',
 '      18.      Taare Zameen Par(2007)',
 '      19.      Jersey(2019)',
 '      20.      Ratsasan(2018)',
 '      21.      Soorarai Pottru(2020)',
 '      22.      Thalapathi(1991)',
 '      23.      Dangal(2016)',
 '      24.      Asuran(2019)',
 '      25.      Kaithi(2019)',
 '      26.      Devasuram(1993)',
 '      27.      Aparajito(1956)',
 '      28.      Jaane Bhi Do Yaaro(1983)',
 '      29.      Peranbu(2018)',
 '      30.      Vada Chennai(2018)',
 '      31.      Pyaasa(1957)',
 '      32.      Guide(1965)',
 '      33.      Thani Oruvan(2015)',
 '      34.      Kannathil Muthamittal(2002)',
 '      35.      Chupke Chupke(1975)',
 '      36.      Iruvar(1997)',
 '      37.      Spadikam(1995)',
 '      38.      Agent Sai Srinivasa Athreya(2019)',
 '      39.      Super Deluxe(2019)',
 '      40.      Drishyam(2013)',
 '      41.      Vikram Vedha(2017)',
 '      42.      Aruvi(2016)',
 '      43.      Tumbbad(2018)',
 '      44.      Mahanati(2018)',
 '      45.      Khosla Ka Ghosla!(2006)',
 '      46.      Anand(1971)',
 '      47.      Pudhu Pettai(2006)',
 '      48.      Premam(2015)',
 '      49.      Anniyan(2005)',
 '      50.      Kaakkaa Muttai(2014)',
 '      51.      Andhadhun(2018)',
 '      52.      Mudhalvan(1999)',
 '      53.      Bangalore Days(2014)',
 '      54.      Dhuruvangal Pathinaaru(2016)',
 '      55.      Satya(1998)',
 '      56.      Papanasam(2015)',
 '      57.      Shahid(2012)',
 '      58.      Soodhu Kavvum(2013)',
 '      59.      Jigarthanda(2014)',
 '      60.      Pithamagan(2003)',
 '      61.      Gangs of Wasseypur(2012)',
 '      62.      Paan Singh Tomar(2012)',
 '      63.      Sairat(2016)',
 '      64.      Bhaag Milkha Bhaag(2013)',
 '      65.      Talvar(2015)',
 '      66.      Hera Pheri(2000)',
 '      67.      Swades: We, the People(2004)',
 '      68.      Sholay(1975)',
 '      69.      Black(2005)',
 '      70.      Ustad Hotel(2012)',
 '      71.      Chak De! India(2007)',
 '      72.      Nil Battey Sannata(2015)',
 '      73.      Jo Jeeta Wohi Sikandar(1992)',
 '      74.      Drishyam(2015)',
 '      75.      Maheshinte Prathikaaram(2016)',
 '      76.      Mughal-E-Azam(1960)',
 '      77.      Charulata(1964)',
 '      78.      Zindagi Na Milegi Dobara(2011)',
 '      79.      Article 15(2019)',
 '      80.      Udaan(2010)',
 '      81.      Theeran adhigaaram ondru(2017)',
 '      82.      A Wednesday(2008)',
 '      83.      Queen(2013)',
 '      84.      Masaan(2015)',
 '      85.      Munna Bhai M.B.B.S.(2003)',
 '      86.      Sarfarosh(1999)',
 '      87.      Alai Payuthey(2000)',
 '      88.      Dil Chahta Hai(2001)',
 '      89.      Roja(1992)',
 '      90.      OMG: Oh My God!(2012)',
 '      91.      Baasha(1995)',
 '      92.      Rang De Basanti(2006)',
 '      93.      Chhichhore(2019)',
 '      94.      Lagaan: Once Upon a Time in India(2001)',
 '      95.      Kahaani(2012)',
 '      96.      Andaz Apna Apna(1994)',
 '      97.      Uri: The Surgical Strike(2018)',
 '      98.      Virumandi(2004)',
 '      99.      PK(2014)',
 '      100.      Lucia(2013)',
 '      101.      Iqbal(2005)',
 '      102.      Bommarillu(2006)',
 '      103.      The Legend of Bhagat Singh(2002)',
 '      104.      Barfi!(2012)',
 '      105.      Pink(2016)',
 '      106.      Maqbool(2003)',
 '      107.      Bombay(1995)',
 '      108.      Section 375(2019)',
 '      109.      Omkara(2006)',
 '      110.      Indian(1996)',
 '      111.      Lage Raho Munna Bhai(2006)',
 '      112.      The Great Indian Kitchen(2021)',
 '      113.      Thadam(2019)',
 '      114.      Pelli Choopulu(2016)',
 '      115.      Deewaar(1975)',
 '      116.      Baahubali 2: The Conclusion(2017)',
 '      117.      Pranchiyettan and the Saint(2010)',
 '      118.      Padosan(1968)',
 '      119.      Naduvula Konjam Pakkatha Kaanom(2012)',
 '      120.      Gulaal(2009)',
 '      121.      Athadu(2005)',
 '      122.      Dilwale Dulhania Le Jayenge(1995)',
 '      123.      Haider(2014)',
 '      124.      Rangasthalam(2018)',
 '      125.      Take Off(2017)',
 '      126.      Thondimuthalum Dhriksakshiyum(2017)',
 '      127.      Ugly(2013)',
 '      128.      Padayappa(1999)',
 '      129.      Mother India(1957)',
 '      130.      Special Chabbis(2013)',
 '      131.      Aadukalam(2011)',
 '      132.      K.G.F: Chapter 1(2018)',
 '      133.      Gully Boy(2019)',
 '      134.      Ship of Theseus(2012)',
 '      135.      Vaaranam Aayiram(2008)',
 '      136.      Ulidavaru Kandanthe(2014)',
 '      137.      Badhaai ho(2018)',
 '      138.      Dev.D(2009)',
 '      139.      Bajrangi Bhaijaan(2015)',
 '      140.      Vedam(2010)',
 '      141.      Jalsaghar(1958)',
 '      142.      Karnan(2021)',
 '      143.      Vaastav: The Reality(1999)',
 '      144.      Ankhon Dekhi(2013)',
 '      145.      Company(2002)',
 '      146.      Mukkabaaz(2017)',
 '      147.      Deiva Thirumagal(2011)',
 '      148.      Arjun Reddy(2017)',
 '      149.      Manjhi: The Mountain Man(2015)',
 '      150.      Pizza(2012)',
 '      151.      My Name Is Khan(2010)',
 '      152.      Dil Bechara(2020)',
 '      153.      Memories(2013)',
 '      154.      Kal Ho Naa Ho(2003)',
 '      155.      Charlie(2015)',
 '      156.      Jab We Met(2007)',
 '      157.      Angamaly Diaries(2017)',
 '      158.      Mumbai Police(2013)',
 '      159.      Vinnaithaandi Varuvaayaa(2010)',
 '      160.      Border(1997)',
 '      161.      Unnaipol Oruvan(2009)',
 '      162.      Super 30(2019)',
 '      163.      Kaakha..Kaakha: The Police(2003)',
 '      164.      Padman(2018)',
 '      165.      Lakshya(2004)',
 '      166.      Dor(2006)',
 '      167.      Bãhubali: The Beginning(2015)',
 '      168.      Vettaiyaadu Vilaiyaadu(2006)',
 '      169.      Hey Ram(2000)',
 '      170.      Baby(2015)',
 '      171.      Airlift(2016)',
 '      172.      Anjaam Pathiraa(2020)',
 '      173.      Sonchiriya(2019)',
 '      174.      Hindi Medium(2017)',
 '      175.      Poove Unakkaga(1996)',
 '      176.      Okkadu(2003)',
 '      177.      English Vinglish(2012)',
 '      178.      Gangaajal(2003)',
 '      179.      Manam(2014)',
 '      180.      The Lunchbox(2013)',
 '      181.      Johnny Gaddaar(2007)',
 '      182.      Ab Tak Chhappan(2004)',
 '      183.      Joji(2021)',
 '      184.      Badla(2019)',
 '      185.      Secret Superstar(2017)',
 '      186.      Pokiri(2006)',
 '      187.      Nayak: The Real Hero(2001)',
 '      188.      Vicky Donor(2012)',
 '      189.      Mr. India(1987)',
 '      190.      Raazi(2018)',
 '      191.      M.S. Dhoni: The Untold Story(2016)',
 '      192.      Udta Punjab(2016)',
 '      193.      Stanley Ka Dabba(2011)',
 '      194.      Don(1978)',
 '      195.      RangiTaranga(2015)',
 '      196.      Goodachari(2018)',
 '      197.      Rock On!!(2008)',
 '      198.      Veer-Zaara(2004)',
 '      199.      Ko(2011)',
 '      200.      Dasvidaniya(2008)',
 '      201.      Aligarh(2015)',
 '      202.      Velaiilla Pattadhari(2014)',
 '      203.      Arya(2004)',
 '      204.      Guru(2007)',
 '      205.      Samsara(2001)',
 '      206.      Thuppakki(2012)',
 '      207.      Kai po che!(2013)',
 '      208.      Oye Lucky! Lucky Oye!(2008)',
 '      209.      Kaththi(2014)',
 '      210.      Mumbai Meri Jaan(2008)',
 '      211.      24(2016)',
 '      212.      Rockstar(2011)',
 '      213.      Avane Srimannarayana(2019)',
 '      214.      Eega(2012)',
 '      215.      Kabhi Haan Kabhi Naa(1994)',
 '      216.      Darr(1993)',
 '      217.      Kapoor & Sons(2016)',
 '      218.      Ugramm(2014)',
 '      219.      Newton(2017)',
 '      220.      Ghilli(2004)',
 '      221.      Aamir(2008)',
 '      222.      The Tashkent Files(2019)',
 '      223.      Earth(1998)',
 '      224.      Sir(2018)',
 '      225.      Agneepath(1990)',
 '      226.      Madras Cafe(2013)',
 '      227.      Sarkar(2005)',
 '      228.      Pyaar Ka Punchnama(2011)',
 '      229.      Bheja Fry(2007)',
 '      230.      Neerja(2016)',
 '      231.      Detective Byomkesh Bakshy!(2015)',
 '      232.      Highway(2014)',
 '      233.      Kannum Kannum Kollaiyadithaal(2020)',
 '      234.      Magadheera(2009)',
 '      235.      Baazigar(1993)',
 '      236.      Manorama: Six Feet Under(2007)',
 '      237.      Tanu Weds Manu Returns(2015)',
 '      238.      Saala Khadoos(2016)',
 '      239.      Ludo(2020)',
 '      240.      Wake Up Sid(2009)',
 '      241.      Piku(2015)',
 '      242.      1 - Nenokkadine(2014)',
 '      243.      Dhruva(2016)',
 '      244.      Geetha Govindam(2018)',
 '      245.      Kuch Kuch Hota Hai(1998)',
 '      246.      Jodhaa Akbar(2008)',
 '      247.      Trapped(2016)',
 '      248.      Sanju(2018)',
 '      249.      Parmanu: The Story of Pokhran(2018)',
 '      250.      Delhi Belly(2011)']

In [15]:
#IMDB Indian Rated movies
IM_rating=soup.find_all('td', class_="ratingColumn imdbRating")
#creating list of Indian movie rating 
Indian_movies_rating=[] #empty list
for i in IM_rating:
    Indian_movies_rating.append(i.text.replace('\n',""))
Indian_movies_rating

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.5']

In [16]:
#creating dataframe to create a list of indian IMDB rated movies list
Indian_Movies=pd.DataFrame({})
Indian_Movies['Name']=Indian_movies_name
Indian_Movies['Rating']=Indian_movies_rating

Indian_Movies_100= Indian_Movies[:100]

#list of top 100 movies along with there year of realesing and ratings
Indian_Movies_100

                                             Name Rating
0                   1.      Pather Panchali(1955)    8.5
1                           2.      Nayakan(1987)    8.5
2                 3.      Pariyerum Perumal(2018)    8.5
3                        4.      Anbe Sivam(2003)    8.5
4                           5.      Golmaal(1979)    8.5
..                                            ...    ...
95                 96.      Andaz Apna Apna(1994)    8.1
96        97.      Uri: The Surgical Strike(2018)    8.1
97                       98.      Virumandi(2004)    8.1
98                              99.      PK(2014)    8.1
99                          100.      Lucia(2013)    8.1

[100 rows x 2 columns]

# 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [17]:
#checking site response for scraping
page= requests.get("https://bookpage.com/reviews/")
page

we get response [200] so we scrap

In [18]:
soup=BeautifulSoup(page.content, 'html.parser')

In [19]:
#books name from page 1
book_name=soup.find_all('h4', class_="italic")
book_namepg1=[] #empty list
for i in book_name:
    book_namepg1.append(i.text.replace('\n',""))
book_namepg1

['Everyone Knows Your Mother Is a Witch',
 'The Blue Wonder',
 ' ★ In',
 ' ★ The Hidden Palace',
 ' ★ Dear Senthuran',
 ' ★ The Jasmine Throne',
 'One Two Three',
 'The Most Perfect Thing in the Universe',
 ' ★ The Ugly Cry',
 ' ★ Indestructible Object']

In [20]:
#book author name of page 1
author=soup.find_all('p', class_="sans bold")
book_author=[] #empty list
for i in author:
    book_author.append(i.text.replace('\n',""))
book_author

['Rivka Galchen',
 'Frauke Bagusche, Jamie McIntosh',
 'Will McPhail',
 'Helene Wecker',
 'Akwaeke Emezi',
 'Tasha Suri',
 'Laurie Frankel',
 'Tricia Springstubb',
 'Danielle Henderson',
 'Mary McCoy']

In [21]:
#book Genre
genre=soup.find_all('p', class_="genre-links hidden-phone")
book_genre=[] #empty list
for i in genre:
    book_genre.append(i.text.replace('\n',""))
book_genre

['Fiction / Historical Fiction',
 'Nonfiction / Nature / Animals',
 'Graphic Novels & Comics / Graphic Novels',
 'Fiction / Literary Fiction',
 'Nonfiction / Memoir',
 'Science Fiction & Fantasy / Fantasy',
 'Fiction / Literary Fiction',
 "Children's / Middle Grade",
 'Nonfiction / Memoir',
 'YA / YA Fiction']

In [22]:
#Extracting Next psge urls to get book review
url_tags=soup.find_all('div', class_="read-full")
urls=[] #empty list
for i in url_tags:
    for j in i.find_all("a"):
            urls.append(j['href'])
urls

['/reviews/26279-rivka-galchen-everyone-knows-your-mother-witch-fiction',
 '/reviews/26311-frauke-bagusche-blue-wonder-nonfiction',
 '/reviews/26166-will-mcphail-graphic-novels-comics',
 '/reviews/26288-helene-wecker-hidden-palace-fiction',
 '/reviews/26303-akwaeke-emezi-dear-senthuran-nonfiction',
 '/reviews/26439-tasha-suri-jasmine-throne-science-fiction-fantasy',
 '/reviews/26285-laurie-frankel-one-two-three-fiction',
 '/reviews/26401-tricia-springstubb-most-perfect-thing-universe-childrens',
 '/reviews/26314-danielle-henderson-ugly-cry-nonfiction',
 '/reviews/26324-mary-mccoy-indestructible-object-ya']

In [23]:
#Scrpe book reviews from multiple pages using urls
book_review=[] #empty list
for url in urls:
    book=requests.get('https://bookpage.com'+url)
    soup1=BeautifulSoup(book.content,'html.parser')
    review_=soup1.find_all('p',class_="sans bold author-info") #scrape boosk name
    for i in review_:
        book_review.append(i.text.replace('\n',""))
book_review

['Review byArlene McKanic',
 'Review byHenry L. Carrigan Jr.',
 'Review byElena Britos',
 'Review byMichael Alec Rose',
 'Review byCatherine Hollis',
 'Review byChris Pickens',
 'Review byAlice Cary',
 'Review byBillie B. Little',
 'Review byPriscilla Kipp',
 'Review byK.J. Witherow']

In [24]:
print(len(book_namepg1), len(book_author), len(book_genre), len(book_review))

10 10 10 10

length are same so we can creat dataframe

In [25]:
#creating dataframe using list
Book_detail=pd.DataFrame({})

Book_detail['-------Book Name--------']=book_namepg1
Book_detail['----------Author Name-----------']=book_author
Book_detail['----------Genre----------']=book_genre
Book_detail['--------Review-------']=book_review

In [26]:
Book_detail5=Book_detail[:5]
Book_detail5

,-------Book Name--------,----------Author Name-----------,----------Genre----------,--------Review-------
0,Everyone Knows Your Mother Is a Witch,Rivka Galchen,Fiction / Historical Fiction,Review byArlene McKanic
1,The Blue Wonder,"Frauke Bagusche, Jamie McIntosh",Nonfiction / Nature / Animals,Review byHenry L. Carrigan Jr.
2,★ In,Will McPhail,Graphic Novels & Comics / Graphic Novels,Review byElena Britos
3,★ The Hidden Palace,Helene Wecker,Fiction / Literary Fiction,Review byMichael Alec Rose
4,★ Dear Senthuran,Akwaeke Emezi,Nonfiction / Memoir,Review byCatherine Hollis

As we can see the list of 5 books with book name, reviews, author name, genre

# 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [27]:
#checking site response for scraping
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

we get response [200] so we can scrap

In [28]:
soup=BeautifulSoup(page.content, 'html.parser')

In [29]:
#1st country name in rank list 
rank1st=soup.find_all('td',class_="rankings-block__banner--team-name")
ranking1st=[] #empty list
for i in rank1st:
    ranking1st.append(i.text.replace('\n',""))
ranking1st

['New ZealandNZ']

In [30]:
#other than 1st country in rank list 
ranking=soup.find_all('td',class_="table-body__cell rankings-table__team")
rankinglist=[] #empty list
for i in ranking:
    rankinglist.append(i.text.replace('\n',""))
rankinglist

['AustraliaAUS',
 'IndiaIND',
 'EnglandENG',
 'South AfricaSA',
 'PakistanPAK',
 'BangladeshBAN',
 'West IndiesWI',
 'Sri LankaSL',
 'AfghanistanAFG',
 'NetherlandsNED',
 'IrelandIRE',
 'ZimbabweZIM',
 'ScotlandSCO',
 'OmanOMA',
 'NepalNEP',
 'UAEUAE',
 'NamibiaNAM',
 'United StatesUSA',
 'Papua New GuineaPNG']

In [31]:
# all top 20 country in rank list
Country_list= ranking1st + rankinglist
print(Country_list)

['New ZealandNZ', 'AustraliaAUS', 'IndiaIND', 'EnglandENG', 'South AfricaSA', 'PakistanPAK', 'BangladeshBAN', 'West IndiesWI', 'Sri LankaSL', 'AfghanistanAFG', 'NetherlandsNED', 'IrelandIRE', 'ZimbabweZIM', 'ScotlandSCO', 'OmanOMA', 'NepalNEP', 'UAEUAE', 'NamibiaNAM', 'United StatesUSA', 'Papua New GuineaPNG']

In [32]:
#no of matches of 1st top country
matchNZ=soup.find_all('td',class_="rankings-block__banner--matches")
match_NZ=[] #empty list
for i in matchNZ:
    match_NZ.append(i.text.replace('\n',""))
match_NZ

['17']

In [33]:
#points of 1st top country
pointNZ=soup.find_all('td',class_="rankings-block__banner--points")
point_NZ=[] #empty list
for i in pointNZ:
    point_NZ.append(i.text.replace('\n',""))
point_NZ

['2,054']

In [34]:
#Creating a list for matches and points other than 1st top country in rank list
matchs_points=soup.find_all('td',class_='table-body__cell u-center-text') 
m_p=[] #empty list
for i in matchs_points:
    m_p.append(i.text.replace('\n',' '))
m_p

['25',
 '2,945',
 '29',
 '3,344',
 '27',
 '3,100',
 '20',
 '2,137',
 '24',
 '2,323',
 '27',
 '2,438',
 '27',
 '2,222',
 '24',
 '1,876',
 '17',
 '1,054',
 '7',
 '336',
 '21',
 '897',
 '15',
 '588',
 '7',
 '258',
 '7',
 '240',
 '5',
 '119',
 '9',
 '190',
 '6',
 '97',
 '8',
 '93',
 '5',
 '0']

In [35]:
# we can see in m_p list, both matches and points are in same list so seprating them
matches = []
points = []
for i in range(0, len(m_p)):
    if i % 2:
        points.append(m_p[i])
    else :
        matches.append(m_p[i])
        

print ("Matches:",matches)
print ("Points:", points)

Matches: ['25', '29', '27', '20', '24', '27', '27', '24', '17', '7', '21', '15', '7', '7', '5', '9', '6', '8', '5']
Points: ['2,945', '3,344', '3,100', '2,137', '2,323', '2,438', '2,222', '1,876', '1,054', '336', '897', '588', '258', '240', '119', '190', '97', '93', '0']

In [36]:
# match list of all country
matches1=match_NZ+ matches
matches1

['17',
 '25',
 '29',
 '27',
 '20',
 '24',
 '27',
 '27',
 '24',
 '17',
 '7',
 '21',
 '15',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5']

In [37]:
# point list of all country
points1=point_NZ+ points
points1

['2,054',
 '2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054',
 '336',
 '897',
 '588',
 '258',
 '240',
 '119',
 '190',
 '97',
 '93',
 '0']

In [38]:
#1st country rating in rank list
NZ_rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right') 
NZrating=[] #empty list
for i in NZ_rating:
    NZrating.append(i.text.replace('\n',''))
NZrating

['                            121                            ']

In [39]:
#remaing country ratings
matchs_rating=soup.find_all('td',class_='table-body__cell u-text-right rating') 
rating=[] #empty list
for i in matchs_rating:
    rating.append(i.text.replace('\n',''))
rating

['118',
 '115',
 '115',
 '107',
 '97',
 '90',
 '82',
 '78',
 '62',
 '48',
 '43',
 '39',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [40]:
#all country ratings
rating1=NZrating+rating
rating1

['                            121                            ',
 '118',
 '115',
 '115',
 '107',
 '97',
 '90',
 '82',
 '78',
 '62',
 '48',
 '43',
 '39',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [41]:
#Checking the len of all the created list
print(len(Country_list), len(matches1), len(points1), len(rating1))

20 20 20 20

length is same so we can creat dataframe

In [42]:
#dataframe creation of mens cricket country list
Mens_ICC_Ranking_Table=pd.DataFrame({})

Mens_ICC_Ranking_Table['-------Country--------']=Country_list
Mens_ICC_Ranking_Table['--------Matches-----------']=matches1
Mens_ICC_Ranking_Table['--------Points----------']=points1
Mens_ICC_Ranking_Table['--------Rating-------']=rating1

Top_10_ODI_teams_in_men_cricket=  Mens_ICC_Ranking_Table[:10]
Top_10_ODI_teams_in_men_cricket

,-------Country--------,--------Matches-----------,--------Points----------,--------Rating-------
0,New ZealandNZ,17,"2,054",121 ...
1,AustraliaAUS,25,"2,945",118
2,IndiaIND,29,"3,344",115
3,EnglandENG,27,"3,100",115
4,South AfricaSA,20,"2,137",107
5,PakistanPAK,24,"2,323",97
6,BangladeshBAN,27,"2,438",90
7,West IndiesWI,27,"2,222",82
8,Sri LankaSL,24,"1,876",78
9,AfghanistanAFG,17,"1,054",62

# ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [43]:
#checking site response for scraping
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page

we get response [200] so we can scrap

In [44]:
soup=BeautifulSoup(page.content, 'html.parser')

In [45]:
#Creating a list of ODI men's Cricket player (2nd to 10th) by for loop
men_player=soup.find_all('td',class_='table-body__cell name') 
player=[] #empty list
for i in men_player:
    player.append(i.text.replace('\n',' '))

top_batsmen02_10=player[:9]
top_batsmen02_10

[' Virat Kohli ',
 ' Rohit Sharma ',
 ' Ross Taylor ',
 ' Aaron Finch ',
 ' Jonny Bairstow ',
 ' Fakhar Zaman ',
 ' Francois du Plessis ',
 ' David Warner ',
 ' Shai Hope ']

In [46]:
#Creating a list of ODI men's cricket team country by for loop
men_country=soup.find_all('span',class_='table-body__logo-text') 
country=[] #empty list
for i in men_country:
    country.append(i.text.replace('\n',' '))

batsmen_country02_10=country[:9]
batsmen_country02_10

['IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [47]:
#Creating a list of ODI men's cricket team batsmen by for loop
ODI_rating=soup.find_all('td',class_='table-body__cell u-text-right rating') 
rating=[] #empty list
for i in ODI_rating:
    rating.append(i.text.replace('\n',' '))

batsmen_ratings02_10=rating[:9]
batsmen_ratings02_10

['857', '825', '801', '791', '785', '778', '778', '773', '773']

In [49]:
#list of top players in all formats 
men_top_players=soup.find_all('div',class_='rankings-block__banner--name') 
top_players=[] #empty list
for i in men_top_players:
    top_players.append(i.text.replace('\n',' '))
top_players

['Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan',
 'Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan']

In [50]:
#list of top players rating in all formats 
men_top_players_ratings=soup.find_all('div',class_='rankings-block__banner--rating') 
top_players_ratings=[] #empty list
for i in men_top_players_ratings:
    top_players_ratings.append(i.text.replace('\n',' '))
top_players_ratings

['865', '737', '387', '865', '737', '387']

In [51]:
#list of top players country in all formats 
men_top_players_country=soup.find_all('div',class_='rankings-block__banner--nationality') 
top_players_country=[] #empty list
for i in men_top_players_country:
    top_players_country.append(i.text.replace('\n',' '))
top_players_country

['  PAK 865 ',
 '  NZ 737 ',
 '  BAN 387 ',
 '  PAK 865 ',
 '  NZ 737 ',
 '  BAN 387 ']

In [59]:
top_batsmen01=top_players[:1]
top_batsmen01

['Babar Azam']

In [53]:
top_batsmen_rating=top_players_ratings[:1]
top_batsmen_rating

['865']

In [54]:
top_batsmen_country=top_players_country[:1]
top_batsmen_country

['  PAK 865 ']

In [60]:
#op 10 batsmen list
top10_batsmen= top_batsmen01 + top_batsmen02_10
top10_batsmen

['Babar Azam',
 ' Virat Kohli ',
 ' Rohit Sharma ',
 ' Ross Taylor ',
 ' Aaron Finch ',
 ' Jonny Bairstow ',
 ' Fakhar Zaman ',
 ' Francois du Plessis ',
 ' David Warner ',
 ' Shai Hope ']

In [56]:
# top 10 batsmen ratings
top10_batsmen_rating=top_batsmen_rating + batsmen_ratings02_10

top10_batsmen_rating

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

In [57]:
#top 10 batsmen 
top10_batsmen_country=top_batsmen_country + batsmen_country02_10
top10_batsmen_country

['  PAK 865 ', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [61]:
#top 10 batsmen dataframe
top10_Batsmen_men=pd.DataFrame({})
top10_Batsmen_men['Player Name']=top10_batsmen
top10_Batsmen_men['Country']=top10_batsmen_country
top10_Batsmen_men['Rating']=top10_batsmen_rating
top10_Batsmen_men

             Player Name     Country Rating
0             Babar Azam    PAK 865     865
1           Virat Kohli          IND    857
2          Rohit Sharma          IND    825
3           Ross Taylor           NZ    801
4           Aaron Finch          AUS    791
5        Jonny Bairstow          ENG    785
6          Fakhar Zaman          PAK    778
7   Francois du Plessis           SA    778
8          David Warner          AUS    773
9             Shai Hope           WI    773

# iii) Top 10 ODI bowlers along with the records of their team and rating

In [62]:
#top bowler from 2nd to 10th
top_bowlers02_10=player[9:18]
top_bowlers02_10

[' Mehedi Hasan ',
 ' Mujeeb Ur Rahman ',
 ' Matt Henry ',
 ' Jasprit Bumrah ',
 ' Kagiso Rabada ',
 ' Chris Woakes ',
 ' Josh Hazlewood ',
 ' Pat Cummins ',
 ' Mustafizur Rahman ']

In [63]:
#top bowler country from 2nd to 10th
bowlers_country02_10=country[9:18]
bowlers_country02_10

['BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'AUS', 'BAN']

In [64]:
#top bowler rating from 2nd to 10th
bowler_ratings02_10=rating[9:18]
bowler_ratings02_10

['713', '708', '691', '690', '666', '665', '660', '646', '645']

In [65]:
#top bowler name
top_bowler01=top_players[1:2]
top_bowler01

['Trent Boult']

In [66]:
#top 10 bowler name
top10_bowler=top_bowler01 + top_bowlers02_10
top10_bowler

['Trent Boult',
 ' Mehedi Hasan ',
 ' Mujeeb Ur Rahman ',
 ' Matt Henry ',
 ' Jasprit Bumrah ',
 ' Kagiso Rabada ',
 ' Chris Woakes ',
 ' Josh Hazlewood ',
 ' Pat Cummins ',
 ' Mustafizur Rahman ']

In [67]:
#top bowler rating
top_bowler_rating=top_players_ratings[1:2]
top_bowler_rating

['737']

In [68]:
#top 10 bowler rating
top10_bowler_rating=top_bowler_rating + bowler_ratings02_10
top10_bowler_rating

['737', '713', '708', '691', '690', '666', '665', '660', '646', '645']

In [69]:
#top bowler country
top_bowler_country=top_players_country[1:2]
top_bowler_country

['  NZ 737 ']

In [70]:
#top 10 bowler country
top10_bowler_country=top_bowler_country+bowlers_country02_10
top10_bowler_country

['  NZ 737 ', 'BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'AUS', 'BAN']

In [71]:
#creating dataframe of top 10 bowler along with their counrty & ratings
top10_Bowler_men=pd.DataFrame({})
top10_Bowler_men['Player Name']=top10_bowler
top10_Bowler_men['Country']=top10_bowler_country
top10_Bowler_men['Rating']=top10_bowler_rating
top10_Bowler_men

           Player Name    Country Rating
0          Trent Boult    NZ 737     737
1        Mehedi Hasan         BAN    713
2    Mujeeb Ur Rahman         AFG    708
3          Matt Henry          NZ    691
4      Jasprit Bumrah         IND    690
5       Kagiso Rabada          SA    666
6        Chris Woakes         ENG    665
7      Josh Hazlewood         AUS    660
8         Pat Cummins         AUS    646
9   Mustafizur Rahman         BAN    645

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’

# i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [72]:
#checking site response for scraping
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

we get response [200] so we can scrap

In [73]:
soup=BeautifulSoup(page.content, 'html.parser')

In [74]:
#1st top counrty 
rank1st=soup.find_all('td',class_="rankings-block__banner--team-name")
ranking1st=[] #empty list
for i in rank1st:
    ranking1st.append(i.text.replace('\n',""))
ranking1st

['AustraliaAUS']

In [75]:
#remaining top country from 2nd to 10th
ranking=soup.find_all('td',class_="table-body__cell rankings-table__team")
rankinglist=[] #empty list
for i in ranking:
    rankinglist.append(i.text.replace('\n',""))
rankinglist

['South AfricaSA',
 'EnglandENG',
 'IndiaIND',
 'New ZealandNZ',
 'West IndiesWI',
 'PakistanPAK',
 'BangladeshBAN',
 'Sri LankaSL',
 'IrelandIRE']

In [76]:
#all top 10 country list
Country_list= ranking1st + rankinglist
Country_list

['AustraliaAUS',
 'South AfricaSA',
 'EnglandENG',
 'IndiaIND',
 'New ZealandNZ',
 'West IndiesWI',
 'PakistanPAK',
 'BangladeshBAN',
 'Sri LankaSL',
 'IrelandIRE']

In [77]:
#top counrty number of matches played
matchAUS=soup.find_all('td',class_="rankings-block__banner--matches")
match_AUS=[] #empty list
for i in matchAUS:
    match_AUS.append(i.text.replace('\n',""))
match_AUS

['18']

In [78]:
#top counrty point
pointAUS=soup.find_all('td',class_="rankings-block__banner--points")
point_AUS=[] #empty list
for i in pointAUS:
    point_AUS.append(i.text.replace('\n',""))
point_AUS

['2,955']

In [79]:
#remaing contry (from 2nd to 10th) maches and points
matchs_points=soup.find_all('td',class_='table-body__cell u-center-text') 
m_p=[] #empty list
for i in matchs_points:
    m_p.append(i.text.replace('\n',' '))
m_p

['24',
 '2,828',
 '17',
 '1,993',
 '20',
 '2,226',
 '21',
 '1,947',
 '12',
 '1,025',
 '15',
 '1,101',
 '5',
 '306',
 '11',
 '519',
 '2',
 '25']

In [80]:
#seprating matches and point in 2 lists
matches = []
points = []
for i in range(0, len(m_p)):
    if i % 2:
        points.append(m_p[i])
    else :
        matches.append(m_p[i])
        
print("Matches:",matches)
print("Points:",points)

Matches: ['24', '17', '20', '21', '12', '15', '5', '11', '2']
Points: ['2,828', '1,993', '2,226', '1,947', '1,025', '1,101', '306', '519', '25']

In [81]:
#match list
matches1=match_AUS+ matches
matches1

['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']

In [82]:
#point list of all countries(1 to 10)
points1=point_AUS+ points
points1

['2,955',
 '2,828',
 '1,993',
 '2,226',
 '1,947',
 '1,025',
 '1,101',
 '306',
 '519',
 '25']

In [83]:
#top country rating
AUS_rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right') 
AUSrating=[] #empty list
for i in AUS_rating:
    AUSrating.append(i.text.replace('\n',''))
AUSrating

['                            164                            ']

In [84]:
#remaing country ratings (from 2nd to 10th)
matchs_rating=soup.find_all('td',class_='table-body__cell u-text-right rating') 
rating=[] #empty list
for i in matchs_rating:
    rating.append(i.text.replace('\n',''))
rating

['118', '117', '111', '93', '85', '73', '61', '47', '13']

In [85]:
#rating list of all countries
rating1=AUSrating+rating
rating1

['                            164                            ',
 '118',
 '117',
 '111',
 '93',
 '85',
 '73',
 '61',
 '47',
 '13']

In [86]:
#checking the length to creat dataframe
print(len(Country_list), len(matches1), len(points1), len(rating1))

10 10 10 10

lenth is same so we can creat dataframe

In [87]:
#top Women cricket country with thrie matches points and ratings
Women_ICC_Ranking_Table=pd.DataFrame({})

Women_ICC_Ranking_Table['-------Country--------']=Country_list
Women_ICC_Ranking_Table['--------Matches-----------']=matches1
Women_ICC_Ranking_Table['--------Points----------']=points1
Women_ICC_Ranking_Table['--------Rating-------']=rating1

Women_ICC_Ranking_Table

,-------Country--------,--------Matches-----------,--------Points----------,--------Rating-------
0,AustraliaAUS,18,"2,955",164 ...
1,South AfricaSA,24,"2,828",118
2,EnglandENG,17,"1,993",117
3,IndiaIND,20,"2,226",111
4,New ZealandNZ,21,"1,947",93
5,West IndiesWI,12,"1,025",85
6,PakistanPAK,15,"1,101",73
7,BangladeshBAN,5,306,61
8,Sri LankaSL,11,519,47
9,IrelandIRE,2,25,13

# (ii) Top 10 women’s ODI players along with the records of their team and rating.

In [88]:
#checking site response for scraping
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

we get response [200] so we can scrap

In [89]:
soup=BeautifulSoup(page.content, 'html.parser')

In [90]:
#Creating a list of ODI women's cricket team player by for loop
women_player=soup.find_all('td',class_='table-body__cell name') 
player=[] #empty list
for i in women_player:
    player.append(i.text.replace('\n',' '))
player

[' Lizelle Lee ',
 ' Alyssa Healy ',
 ' Stafanie Taylor ',
 ' Meg Lanning ',
 ' Amy Satterthwaite ',
 ' Smriti Mandhana ',
 ' Mithali Raj ',
 ' Natalie Sciver ',
 ' Laura Wolvaardt ',
 ' Megan Schutt ',
 ' Marizanne Kapp ',
 ' Shabnim Ismail ',
 ' Jhulan Goswami ',
 ' Katherine Brunt ',
 ' Poonam Yadav ',
 ' Ayabonga Khaka ',
 ' Ellyse Perry ',
 ' Shikha Pandey ',
 ' Ellyse Perry ',
 ' Stafanie Taylor ',
 ' Natalie Sciver ',
 ' Deepti Sharma ',
 ' Jess Jonassen ',
 ' Ashleigh Gardner ',
 ' Dane van Niekerk ',
 ' Sophie Devine ',
 ' Amelia Kerr ']

In [91]:
#Creating a list of ODI women's cricket team player country by for loop
women_country=soup.find_all('span',class_='table-body__logo-text') 
country=[] #empty list
for i in women_country:
    country.append(i.text.replace('\n',' '))
country

['SA',
 'AUS',
 'WI',
 'AUS',
 'NZ',
 'IND',
 'IND',
 'ENG',
 'SA',
 'AUS',
 'SA',
 'SA',
 'IND',
 'ENG',
 'IND',
 'SA',
 'AUS',
 'IND',
 'AUS',
 'WI',
 'ENG',
 'IND',
 'AUS',
 'AUS',
 'SA',
 'NZ',
 'NZ']

In [92]:
#Creating a list of ODI women's cricket team player rating by for loop
ODI_rating=soup.find_all('td',class_='table-body__cell u-text-right rating') 
rating=[] #empty list
for i in ODI_rating:
    rating.append(i.text.replace('\n',' '))
rating

['758',
 '756',
 '746',
 '723',
 '715',
 '710',
 '709',
 '685',
 '683',
 '762',
 '747',
 '717',
 '681',
 '655',
 '641',
 '638',
 '616',
 '610',
 '418',
 '410',
 '349',
 '343',
 '307',
 '252',
 '243',
 '242',
 '236']

In [93]:
#top player name in bating bowling and allrounder
women_top_players=soup.find_all('div',class_='rankings-block__banner--name') 
top_players=[] #empty list
for i in women_top_players:
    top_players.append(i.text.replace('\n',' '))
top_players

['Tammy Beaumont', 'Jess Jonassen', 'Marizanne Kapp']

In [94]:
#top player ratings
women_top_players_ratings=soup.find_all('div',class_='rankings-block__banner--rating') 
top_players_ratings=[] #empty list
for i in women_top_players_ratings:
    top_players_ratings.append(i.text.replace('\n',' '))
top_players_ratings

['765', '808', '418']

In [95]:
#top player country
women_top_players_country=soup.find_all('div',class_='rankings-block__banner--nationality') 
top_players_country=[] #empty list
for i in women_top_players_country:
    top_players_country.append(i.text.replace('\n',' '))
top_players_country

['  ENG 765 ', '  AUS 808 ', '  SA 418 ']

In [96]:
#creating dataframe of top players in bating bowling and as allrounder
top_women_player=pd.DataFrame({})
top_women_player['Player Name']=top_players
top_women_player['Country']=top_players_country
top_women_player['Rating']=top_players_ratings
top_women_player

      Player Name     Country Rating
0  Tammy Beaumont    ENG 765     765
1   Jess Jonassen    AUS 808     808
2  Marizanne Kapp     SA 418     418

In [97]:
#dataframe of players execpt 1st ranker in bating bowling and allrounder
women_players=pd.DataFrame({})
women_players['Player Name']=player
women_players['Country']=country
women_players['Rating']=rating
women_players

            Player Name Country Rating
0          Lizelle Lee       SA    758
1         Alyssa Healy      AUS    756
2      Stafanie Taylor       WI    746
3          Meg Lanning      AUS    723
4    Amy Satterthwaite       NZ    715
5      Smriti Mandhana      IND    710
6          Mithali Raj      IND    709
7       Natalie Sciver      ENG    685
8      Laura Wolvaardt       SA    683
9         Megan Schutt      AUS    762
10      Marizanne Kapp       SA    747
11      Shabnim Ismail       SA    717
12      Jhulan Goswami      IND    681
13     Katherine Brunt      ENG    655
14        Poonam Yadav      IND    641
15      Ayabonga Khaka       SA    638
16        Ellyse Perry      AUS    616
17       Shikha Pandey      IND    610
18        Ellyse Perry      AUS    418
19     Stafanie Taylor       WI    410
20      Natalie Sciver      ENG    349
21       Deepti Sharma      IND    343
22       Jess Jonassen      AUS    307
23    Ashleigh Gardner      AUS    252
24    Dane van Niekerk       SA    243
25       Sophie Devine       NZ    242
26         Amelia Kerr       NZ    236

In [98]:
#dataframe of players with thire country and rratings
player_country_rating = pd.concat([top_women_player, women_players], axis=0)
player_country_rating

            Player Name     Country Rating
0        Tammy Beaumont    ENG 765     765
1         Jess Jonassen    AUS 808     808
2        Marizanne Kapp     SA 418     418
0          Lizelle Lee           SA    758
1         Alyssa Healy          AUS    756
2      Stafanie Taylor           WI    746
3          Meg Lanning          AUS    723
4    Amy Satterthwaite           NZ    715
5      Smriti Mandhana          IND    710
6          Mithali Raj          IND    709
7       Natalie Sciver          ENG    685
8      Laura Wolvaardt           SA    683
9         Megan Schutt          AUS    762
10      Marizanne Kapp           SA    747
11      Shabnim Ismail           SA    717
12      Jhulan Goswami          IND    681
13     Katherine Brunt          ENG    655
14        Poonam Yadav          IND    641
15      Ayabonga Khaka           SA    638
16        Ellyse Perry          AUS    616
17       Shikha Pandey          IND    610
18        Ellyse Perry          AUS    418
19     Stafanie Taylor           WI    410
20      Natalie Sciver          ENG    349
21       Deepti Sharma          IND    343
22       Jess Jonassen          AUS    307
23    Ashleigh Gardner          AUS    252
24    Dane van Niekerk           SA    243
25       Sophie Devine           NZ    242
26         Amelia Kerr           NZ    236

In [99]:
#shorting the dataframe by ratings
top_women_players = player_country_rating.sort_values(by=['Rating'],ascending=False)
top_women_players

            Player Name     Country Rating
1         Jess Jonassen    AUS 808     808
0        Tammy Beaumont    ENG 765     765
9         Megan Schutt          AUS    762
0          Lizelle Lee           SA    758
1         Alyssa Healy          AUS    756
10      Marizanne Kapp           SA    747
2      Stafanie Taylor           WI    746
3          Meg Lanning          AUS    723
11      Shabnim Ismail           SA    717
4    Amy Satterthwaite           NZ    715
5      Smriti Mandhana          IND    710
6          Mithali Raj          IND    709
7       Natalie Sciver          ENG    685
8      Laura Wolvaardt           SA    683
12      Jhulan Goswami          IND    681
13     Katherine Brunt          ENG    655
14        Poonam Yadav          IND    641
15      Ayabonga Khaka           SA    638
16        Ellyse Perry          AUS    616
17       Shikha Pandey          IND    610
2        Marizanne Kapp     SA 418     418
18        Ellyse Perry          AUS    418
19     Stafanie Taylor           WI    410
20      Natalie Sciver          ENG    349
21       Deepti Sharma          IND    343
22       Jess Jonassen          AUS    307
23    Ashleigh Gardner          AUS    252
24    Dane van Niekerk           SA    243
25       Sophie Devine           NZ    242
26         Amelia Kerr           NZ    236

In [100]:
#now dropting the index
top_women_players.reset_index(drop=True, inplace=True)
top_women_players

            Player Name     Country Rating
0         Jess Jonassen    AUS 808     808
1        Tammy Beaumont    ENG 765     765
2         Megan Schutt          AUS    762
3          Lizelle Lee           SA    758
4         Alyssa Healy          AUS    756
5       Marizanne Kapp           SA    747
6      Stafanie Taylor           WI    746
7          Meg Lanning          AUS    723
8       Shabnim Ismail           SA    717
9    Amy Satterthwaite           NZ    715
10     Smriti Mandhana          IND    710
11         Mithali Raj          IND    709
12      Natalie Sciver          ENG    685
13     Laura Wolvaardt           SA    683
14      Jhulan Goswami          IND    681
15     Katherine Brunt          ENG    655
16        Poonam Yadav          IND    641
17      Ayabonga Khaka           SA    638
18        Ellyse Perry          AUS    616
19       Shikha Pandey          IND    610
20       Marizanne Kapp     SA 418     418
21        Ellyse Perry          AUS    418
22     Stafanie Taylor           WI    410
23      Natalie Sciver          ENG    349
24       Deepti Sharma          IND    343
25       Jess Jonassen          AUS    307
26    Ashleigh Gardner          AUS    252
27    Dane van Niekerk           SA    243
28       Sophie Devine           NZ    242
29         Amelia Kerr           NZ    236

In [101]:
#top 10 women player list as per their rating
top10_women_players=top_women_players[:10]

top10_women_players

           Player Name     Country Rating
0        Jess Jonassen    AUS 808     808
1       Tammy Beaumont    ENG 765     765
2        Megan Schutt          AUS    762
3         Lizelle Lee           SA    758
4        Alyssa Healy          AUS    756
5      Marizanne Kapp           SA    747
6     Stafanie Taylor           WI    746
7         Meg Lanning          AUS    723
8      Shabnim Ismail           SA    717
9   Amy Satterthwaite           NZ    715

# (iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [102]:
#allround players list from 02nd to 10th 
allround_player_02_10=player[-9:]
allround_player_02_10

[' Ellyse Perry ',
 ' Stafanie Taylor ',
 ' Natalie Sciver ',
 ' Deepti Sharma ',
 ' Jess Jonassen ',
 ' Ashleigh Gardner ',
 ' Dane van Niekerk ',
 ' Sophie Devine ',
 ' Amelia Kerr ']

In [103]:
#allround players country list from 02nd to 10th
allround_player_country_02_10=country[-9:]
allround_player_country_02_10

['AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [104]:
#allround players ratings list from 02nd to 10th
allround_player_rating_02_10=rating[-9:]
allround_player_rating_02_10

['418', '410', '349', '343', '307', '252', '243', '242', '236']

In [105]:
top_players

['Tammy Beaumont', 'Jess Jonassen', 'Marizanne Kapp']

In [106]:
# top allround women player name
top_allround_player=top_players[-1:]
top_allround_player

['Marizanne Kapp']

In [107]:
# top allround women player rating
top_allround_player_ratings=top_players_ratings[-1:]
top_allround_player_ratings

['418']

In [108]:
# top allround women player country
top_allround_player_country=top_players_country[-1:]
top_allround_player_country

['  SA 418 ']

In [109]:
#top 10 allround player name
top10_allround_player=top_allround_player + allround_player_02_10
top10_allround_player

['Marizanne Kapp',
 ' Ellyse Perry ',
 ' Stafanie Taylor ',
 ' Natalie Sciver ',
 ' Deepti Sharma ',
 ' Jess Jonassen ',
 ' Ashleigh Gardner ',
 ' Dane van Niekerk ',
 ' Sophie Devine ',
 ' Amelia Kerr ']

In [110]:
# top 10 allround women player country
top10_allround_player_country= top_allround_player_country + allround_player_country_02_10
top10_allround_player_country

['  SA 418 ', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [111]:
# top 10 allround women player rating
top10_allround_player_rating= top_allround_player_ratings+ allround_player_rating_02_10
top10_allround_player_rating

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

In [112]:
#creating top 10 allround players dataframe with their country name and rating
women_allrounder_players=pd.DataFrame({})
women_allrounder_players['Player Name']=top10_allround_player
women_allrounder_players['Country']=top10_allround_player_country
women_allrounder_players['Rating']=top10_allround_player_rating
women_allrounder_players

          Player Name    Country Rating
0      Marizanne Kapp    SA 418     418
1       Ellyse Perry         AUS    418
2    Stafanie Taylor          WI    410
3     Natalie Sciver         ENG    349
4      Deepti Sharma         IND    343
5      Jess Jonassen         AUS    307
6   Ashleigh Gardner         AUS    252
7   Dane van Niekerk          SA    243
8      Sophie Devine          NZ    242
9        Amelia Kerr          NZ    236

# 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [113]:
# #checking site response for scraping
page=requests.get('https://www.amazon.in/s?k=mobile+under+20000&bbn=12805340031&rh=p_36%3A-2000000&dc&qid=1623241122&rnid=1318483031&ref=sr_nr_p_n_availability_2')
page

tried several times but most of the time geting response 503

still try to creat dataframe

In [114]:
soup=BeautifulSoup(page.content, 'html.parser')

In [ ]:
mobile=soup.find_all('span', class_="a-size-medium a-color-base a-text-normal")
mobile

In [ ]:
mobile_name=[] #empty list
for i in mobile:
    mobile_name.append(i.text.replace('\n',""))
mobile_name

In [ ]:
url_tags=soup.find_all('li', class_="a-normal")
urls=[] #empty list
for i in url_tags:
    for j in i.find_all("a"):
            urls.append(j['href'])
urls

In [125]:
#empty list
for url in urls:
    mobile1=requests.get('https://www.amazon.in/'+url)
    soup1=BeautifulSoup(mobile1.content,'html.parser')
    name=soup1.find_all('a',class_="a-link-normal a-text-normal") #scrape boosk name

moblie_name1=[]  #empty list
for i in name:
    mobile_name1.append(i.text.replace('\n',""))

In [ ]:
mobile_name1

In [ ]:
mobile_amazon=mobile_name + mobile_name1

In [ ]:
price1=soup.find_all('span', class_="a-price-whole")

mobile_price1=[] #empty list
for i in price1:
    mobile_price1.append(i.text.replace('\n',""))
mobile_price1

In [ ]:
price2=soup1.find_all('span',class_="a-price-whole")

mobile_price2=[] #empty list
for i in price2:
    mobile_price2.append(i.text.replace('\n',""))
mobile_price2

In [ ]:
mobile_price= mobile_price1 +mobile_price2

In [ ]:
rating1=soup.find_all('span', class_="a-popover-trigger a-declarative")

mobile_rating1=[] #empty list
for i in rating1:
    mobile_rating1.append(i.text.replace('\n',""))
mobile_rating1

In [ ]:
rating2=soup1.find_all('span',class_="a-popover-trigger a-declarative")

mobile_rating2=[] #empty list
for i in rating2:
    mobile_rating2.append(i.text.replace('\n',""))
mobile_rating2

In [ ]:
mobile_rating= mobile_rating1 + mobile_rating2

In [ ]:
url_img1=soup.find_all('img', class_="s-image")
imgs1=[] #empty list
for i in url_img1:
    for j in i.find_all("img"):
            imgs1.append(j['src'])
imgs1

In [ ]:
url_img2=soup1.find_all('img', class_="s-image")
imgs2=[] #empty list
for i in url_img2:
    for j in i.find_all("img"):
            imgs2.append(j['src'])
imgs2

In [ ]:
mobile_img=imgs1 + imgs2

In [ ]:
print(len(mobile_amazon), len (mobile_price), len(mobile_rating), len(mobile_img))

In [ ]:
#creating datafram to create a list of mobiles_amazon, mobiles_price, mobiles_rating and mobiles_img

Mobiles_detail=pd.DataFrame({})
Mobiles_detail['Mobile Name']=mobile_amazon
Mobiles_detail['Mobile Price']=mobiles_price
Mobiles_detail['Mobile Rating']=mobiles_rating
Mobiles_detail['Image ']=mobiles_img

In [ ]:
Mobiles_detail

# 8.Write a python program to extract information about the local weather from the National Weather Service
website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day
extended forecast display for the city. The data should include period, short description, temperature and
description.

In [128]:
page=requests.get('https://forecast.weather.gov/MapClick.php?w0=t&w1=td&w2=hi&w3=sfcwind&w4=sky&w5=pop&w6=rh&w7=rain&w8=thunder&AheadHour=96&FcstType=text&textField1=37.7771&textField2=-122.4196&site=all#.YLtP-tVKjIU')
page

In [129]:
soup=BeautifulSoup(page.content, 'html.parser')

In [130]:
#Creating a list of 7 day extended forecast by for loop
period=soup.find_all('div',class_='col-sm-2 forecast-label') #scrape 7 day extended forecast period
w_period=[] #empty list
for i in period:
    w_period.append(i.text.replace('\n',""))
w_period

['Today',
 'Tonight',
 'Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday',
 'Tuesday Night',
 'Wednesday']

In [131]:
#Creating a list of 7 day extended forecast short description by for loop
sd=soup.find_all('p',class_='short-desc') #scrape 7 day extended forecast short description
short_description=[] #empty list
for i in sd:
        short_description.append(i.text.replace('\n',""))
short_description

['Sunny thenSunny andBreezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'DecreasingClouds',
 'Partly Cloudy',
 'Mostly Sunnythen Sunnyand Breezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Partly Sunny',
 'Mostly Cloudy',
 'Mostly Sunny']

In [132]:
#Creating a list of 7 day extended forecast high temperature by for loop
temp_high=soup.find_all('p',class_='temp temp-high') #scrape 7 day extended forecast high temperature
w_temp=[] #empty list
for i in temp_high:
    w_temp.append(i.text.replace('\n',""))
w_temp

['High: 63 °F', 'High: 65 °F', 'High: 69 °F', 'High: 68 °F', 'High: 69 °F']

In [133]:
#Creating a list of 7 day extended forecast low temperature by for loop
temp_low=soup.find_all('p',class_='temp temp-low') #scrape 7 day extended forecast low temperature
w_temp=[] #empty list
for i in temp_low:
    w_temp.append(i.text.replace('\n',""))
w_temp

['Low: 51 °F', 'Low: 56 °F', 'Low: 57 °F', 'Low: 57 °F']

In [134]:
#Creating a list of 7 day extended forecast description by for loop
des=soup.find_all('div',class_='col-sm-10 forecast-text') #scrape 7 day extended forecast description
w_des=[] #empty list
for i in des:
    w_des.append(i.text.replace('\n',""))
w_des

['Partly sunny, then gradually becoming sunny, with a high near 63. Breezy, with a west wind 9 to 14 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 31 mph. ',
 'Partly cloudy, with a low around 51. Breezy, with a west wind 15 to 22 mph, with gusts as high as 29 mph. ',
 'Mostly cloudy, then gradually becoming sunny, with a high near 65. West wind 9 to 18 mph, with gusts as high as 24 mph. ',
 'Partly cloudy, with a low around 56. West wind 15 to 20 mph decreasing to 9 to 14 mph after midnight. Winds could gust as high as 25 mph. ',
 'Mostly sunny, with a high near 69. Breezy, with a west wind 7 to 12 mph increasing to 17 to 22 mph in the afternoon. Winds could gust as high as 29 mph. ',
 'Mostly cloudy, with a low around 57. Breezy. ',
 'Partly sunny, with a high near 68.',
 'Mostly cloudy, with a low around 57.',
 'Mostly sunny, with a high near 69.',
 'Partly cloudy, with a low around 54.',
 'Sunny, with a high near 70.',
 'Mostly clear, with a low around 54.',
 'Sunny, with a high near 74.']

In [135]:
print(len(period),len(sd),len(temp_high),len(temp_low),len(des))

13 9 5 4 13

As here lenght of columns are not equal but i tried to resolved but it did not, so i create a table of same length columns

In [136]:
Weather_detail=pd.DataFrame({})
Weather_detail['Period']=period

Weather_detail['Description ']=des

In [137]:
Weather_detail

                Period                                       Description
0            [[Today]]  [Partly sunny, then gradually becoming sunny, ...
1          [[Tonight]]  [Partly cloudy, with a low around 51. Breezy, ...
2           [[Friday]]  [Mostly cloudy, then gradually becoming sunny,...
3     [[Friday Night]]  [Partly cloudy, with a low around 56. West win...
4         [[Saturday]]  [Mostly sunny, with a high near 69. Breezy, wi...
5   [[Saturday Night]]    [Mostly cloudy, with a low around 57. Breezy. ]
6           [[Sunday]]               [Partly sunny, with a high near 68.]
7     [[Sunday Night]]             [Mostly cloudy, with a low around 57.]
8           [[Monday]]               [Mostly sunny, with a high near 69.]
9     [[Monday Night]]             [Partly cloudy, with a low around 54.]
10         [[Tuesday]]                      [Sunny, with a high near 70.]
11   [[Tuesday Night]]              [Mostly clear, with a low around 54.]
12       [[Wednesday]]                      [Sunny, with a high near 74.]

# 9.Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title,
company name, CTC, and apply date.

In [138]:
#checked the site response for scraping
page=requests.get("https://internshala.com/fresher-jobs/")
page

we get response [200] so we can scrap

In [139]:
soup=BeautifulSoup(page.content, "html.parser")

In [140]:
#Creating a list of fresher job by for loop
job_title=soup.find_all("div",class_="heading_4_5 profile") 
title=[] #empty list
for i in job_title:
    title.append(i.text.replace("\n",""))
title

['Junior MERN STack Developer ',
 'Education Innovation Manager ',
 'General Management Associate ',
 'Content & E-commerce Management Trainee ',
 'Software Engineer ',
 'Sales Support & Operations Executive ',
 'Backend Developer ',
 'Accountant ',
 'Business Development (Sales) Associate ',
 'Corporate Sales Associate ',
 'Sales Executive - Mobile/Electronics ',
 'Reactjs Developer ',
 'Software Engineer ',
 'PHP & LARAVEL DEVELOPER ',
 'Backend Developer (Ruby On Rails) ',
 'Customer Service Specialist ',
 'Graphic Designer ',
 'Digital Marketing Specialist ',
 'Junior Corporate Sales Executive ',
 'Backend Developer ',
 'Junior Operations Executive ',
 'Internal Audit Associate ',
 'Business Marketing Manager ',
 'React Native Developer ',
 'Research And Communications Associate ',
 'Data Scientist ',
 'Data Science Django Developer ',
 'Corporate Sales Associate ',
 'Full Stack Developer ',
 'Full Stack Developer (MERN) ',
 'Business Development Executive ',
 'Sales Development Representative ',
 'Graphic Designer ',
 'Operations Executive ',
 'Business Development Executive ',
 'Admission Counselor (Sales) ',
 'Sales And Business Development Analyst ',
 'Growth Hacking Digital Marketer ',
 'Junior Node.js Developer ',
 'Junior Digital Marketing Executive ']

In [141]:
#Creating a list of fresher job ctc by for loop
comp_name=soup.find_all("a",class_="link_display_like_text") 
comp=[] #empty list
for i in comp_name:
    comp.append(i.text.replace("\n",""))
comp

['                        DeepThought Edutech Ventures Private Limited                    ',
 '                        DeepThought Edutech Ventures Private Limited                    ',
 '                        Redwood Algorithms                    ',
 '                        Blooprint Ecom Consulting                    ',
 '                        QuikieApps                    ',
 '                        SysCloud Technologies Private Limited                    ',
 '                        Medcords Healthcare Solution Private Limited                    ',
 '                        Bagga Infrastructure Limited                    ',
 '                        Exploring Infinities Edtech Private Limited                    ',
 '                        Best Roadways Limited                    ',
 '                        iShopAtoZ                    ',
 '                        The Tech Bridge                    ',
 '                        SalaryBox                    ',
 '                        Nyx Wolves                    ',
 '                        Wollfish Labs Private Limited                    ',
 '                        Wono Inc                    ',
 '                        Wono Inc                    ',
 '                        Wono Inc                    ',
 '                        Wyntem                    ',
 '                        HomeJam                    ',
 '                        NCTI LLP                    ',
 '                        Global Group                    ',
 '                        MentorBoxx                    ',
 '                        Runners Planet                    ',
 '                        Institute For Governance, Policies & Politics                    ',
 '                        ProtonAutoML                    ',
 '                        Markytics                    ',
 '                        MiM-Essay                    ',
 '                        Wondermail                    ',
 '                        Project Tinker                    ',
 '                        Kaizen Academy                    ',
 '                        Amigobulls                    ',
 '                        Underground Movement LLP                    ',
 '                        Alphacore Technologies Private Limited                    ',
 '                        Ruhcom Enterprises Private Limited                    ',
 '                        Sky Education Group                    ',
 "                        Mo's F&B Group                    ",
 '                        Sleep Love                    ',
 '                        Askadmissions.ai                    ',
 '                        Krivy                    ']

In [142]:
#Creating a list of fresher job ctc by for loop
job_ctc=soup.find_all("div",class_="other_detail_item") 
ctc=[] #empty list
for i in job_ctc:
    ctc.append(i.text.replace("\n",""))
ctc

['                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 5 LPA                                                    ',
 "Apply By10 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 5 LPA                                                    ',
 "Apply By10 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  4 - 5 LPA                                                    ',
 "Apply By10 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 LPA                                                    ',
 "Apply By9 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 4 LPA                                                    ',
 "Apply By9 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 3.01 LPA                                                    ',
 "Apply By9 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 7 LPA                                                    ',
 "Apply By9 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 3.25 LPA                                                    ',
 "Apply By8 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 4 LPA                                                    ',
 "Apply By8 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 LPA                                                    ',
 "Apply By7 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 6 LPA                                                    ',
 "Apply By7 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 LPA                                                    ',
 "Apply By7 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  5 - 15 LPA                                                    ',
 "Apply By7 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 3.05 LPA                                                    ',
 "Apply By4 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  6 - 8 LPA                                                    ',
 "Apply By4 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  5.2 - 6.4 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  5 - 6.5 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  5 - 6.5 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 3.5 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  7 - 8.5 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 3.6 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  4.8 - 6 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  4 - 8.5 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  6.62 - 7.95 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 4.5 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 3.5 LPA                                                    ',
 "Apply By2 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 4.5 LPA                                                    ',
 "Apply By2 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  5 - 6.5 LPA                                                    ',
 "Apply By2 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  4 - 7 LPA                                                    ',
 "Apply By1 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  4 - 7.2 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  4.5 - 6 LPA                                                    ',
 "Apply By1 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  5.5 - 6.5 LPA                                                    ',
 "Apply By1 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 5 LPA                                                    ',
 "Apply By1 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 3.5 LPA                                                    ',
 "Apply By1 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 LPA                                                    ',
 "Apply By1 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 LPA                                                    ',
 "Apply By30 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 3.1 LPA                                                    ',
 "Apply By30 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 3.5 LPA                                                    ',
 "Apply By3 Jul' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 - 4 LPA                                                    ',
 "Apply By30 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        ',
 'CTC  3 LPA                                                    ',
 "Apply By30 Jun' 21"]

In [143]:
CTC_apply = []
Starts_xa0Immediately =[] 

for i in range(0, len(ctc)):
    if i % 3:
        CTC_apply.append(ctc[i])
    else :
        Starts_xa0Immediately.append(ctc[i])
        
print("CTC & apply date: ", CTC_apply)

CTC & apply date:  ['CTC  3 - 5 LPA                                                    ', "Apply By10 Jul' 21", 'CTC  3 - 5 LPA                                                    ', "Apply By10 Jul' 21", 'CTC  4 - 5 LPA                                                    ', "Apply By10 Jul' 21", 'CTC  3 LPA                                                    ', "Apply By9 Jul' 21", 'CTC  3 - 4 LPA                                                    ', "Apply By9 Jul' 21", 'CTC  3 - 3.01 LPA                                                    ', "Apply By9 Jul' 21", 'CTC  3 - 7 LPA                                                    ', "Apply By9 Jul' 21", 'CTC  3 - 3.25 LPA                                                    ', "Apply By8 Jul' 21", 'CTC  3 - 4 LPA                                                    ', "Apply By8 Jul' 21", 'CTC  3 LPA                                                    ', "Apply By7 Jul' 21", 'CTC  3 - 6 LPA                                                    ', "Apply By7 Jul' 21", 'CTC  3 LPA                                                    ', "Apply By7 Jul' 21", 'CTC  5 - 15 LPA                                                    ', "Apply By7 Jul' 21", 'CTC  3 - 3.05 LPA                                                    ', "Apply By4 Jul' 21", 'CTC  6 - 8 LPA                                                    ', "Apply By4 Jul' 21", 'CTC  5.2 - 6.4 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  5 - 6.5 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  5 - 6.5 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  3 - 3.5 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  7 - 8.5 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  3 - 3.6 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  4.8 - 6 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  4 - 8.5 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  6.62 - 7.95 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  3 - 4.5 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  3 - 3.5 LPA                                                    ', "Apply By2 Jul' 21", 'CTC  3 - 4.5 LPA                                                    ', "Apply By2 Jul' 21", 'CTC  5 - 6.5 LPA                                                    ', "Apply By2 Jul' 21", 'CTC  4 - 7 LPA                                                    ', "Apply By1 Jul' 21", 'CTC  4 - 7.2 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  4.5 - 6 LPA                                                    ', "Apply By1 Jul' 21", 'CTC  5.5 - 6.5 LPA                                                    ', "Apply By1 Jul' 21", 'CTC  3 - 5 LPA                                                    ', "Apply By1 Jul' 21", 'CTC  3 - 3.5 LPA                                                    ', "Apply By1 Jul' 21", 'CTC  3 LPA                                                    ', "Apply By1 Jul' 21", 'CTC  3 LPA                                                    ', "Apply By30 Jun' 21", 'CTC  3 - 3.1 LPA                                                    ', "Apply By30 Jun' 21", 'CTC  3 - 3.5 LPA                                                    ', "Apply By3 Jul' 21", 'CTC  3 - 4 LPA                                                    ', "Apply By30 Jun' 21", 'CTC  3 LPA                                                    ', "Apply By30 Jun' 21"]

In [144]:
CTC = []
Apply =[] 

for i in range(0, len(CTC_apply)):
    if i % 2:
        Apply.append(CTC_apply[i])
    else :
        CTC.append(CTC_apply[i])
        
print("CTC:", CTC)

CTC: ['CTC  3 - 5 LPA                                                    ', 'CTC  3 - 5 LPA                                                    ', 'CTC  4 - 5 LPA                                                    ', 'CTC  3 LPA                                                    ', 'CTC  3 - 4 LPA                                                    ', 'CTC  3 - 3.01 LPA                                                    ', 'CTC  3 - 7 LPA                                                    ', 'CTC  3 - 3.25 LPA                                                    ', 'CTC  3 - 4 LPA                                                    ', 'CTC  3 LPA                                                    ', 'CTC  3 - 6 LPA                                                    ', 'CTC  3 LPA                                                    ', 'CTC  5 - 15 LPA                                                    ', 'CTC  3 - 3.05 LPA                                                    ', 'CTC  6 - 8 LPA                                                    ', 'CTC  5.2 - 6.4 LPA                                                    ', 'CTC  5 - 6.5 LPA                                                    ', 'CTC  5 - 6.5 LPA                                                    ', 'CTC  3 - 3.5 LPA                                                    ', 'CTC  7 - 8.5 LPA                                                    ', 'CTC  3 - 3.6 LPA                                                    ', 'CTC  4.8 - 6 LPA                                                    ', 'CTC  4 - 8.5 LPA                                                    ', 'CTC  6.62 - 7.95 LPA                                                    ', 'CTC  3 - 4.5 LPA                                                    ', 'CTC  3 - 3.5 LPA                                                    ', 'CTC  3 - 4.5 LPA                                                    ', 'CTC  5 - 6.5 LPA                                                    ', 'CTC  4 - 7 LPA                                                    ', 'CTC  4 - 7.2 LPA                                                    ', 'CTC  4.5 - 6 LPA                                                    ', 'CTC  5.5 - 6.5 LPA                                                    ', 'CTC  3 - 5 LPA                                                    ', 'CTC  3 - 3.5 LPA                                                    ', 'CTC  3 LPA                                                    ', 'CTC  3 LPA                                                    ', 'CTC  3 - 3.1 LPA                                                    ', 'CTC  3 - 3.5 LPA                                                    ', 'CTC  3 - 4 LPA                                                    ', 'CTC  3 LPA                                                    ']

In [145]:
print(len(job_title), len(comp_name), len(CTC), len(Apply))

40 40 40 40

In [146]:
# Creating datafrme with includes job title, company name, CTC and apply date.
Job_list=pd.DataFrame({})
Job_list["Title"]=job_title
Job_list["Company"]=comp_name
Job_list["CTC"]= CTC
Job_list["Apply"]=Apply

Job_list

,Title,Company,CTC,Apply
0,"[\n, [Junior MERN STack Developer], ]",[\n DeepThought Edutech...,CTC 3 - 5 LPA ...,Apply By10 Jul' 21
1,"[\n, [Education Innovation Manager], ]",[\n DeepThought Edutech...,CTC 3 - 5 LPA ...,Apply By10 Jul' 21
2,"[\n, [General Management Associate], ]",[\n Redwood Algorithms ...,CTC 4 - 5 LPA ...,Apply By10 Jul' 21
3,"[\n, [Content & E-commerce Management Trainee]...",[\n Blooprint Ecom Cons...,CTC 3 LPA ...,Apply By9 Jul' 21
4,"[\n, [Software Engineer], ]",[\n QuikieApps ...,CTC 3 - 4 LPA ...,Apply By9 Jul' 21
5,"[\n, [Sales Support & Operations Executive], ]",[\n SysCloud Technologi...,CTC 3 - 3.01 LPA ...,Apply By9 Jul' 21
6,"[\n, [Backend Developer], ]",[\n Medcords Healthcare...,CTC 3 - 7 LPA ...,Apply By9 Jul' 21
7,"[\n, [Accountant], ]",[\n Bagga Infrastructur...,CTC 3 - 3.25 LPA ...,Apply By8 Jul' 21
8,"[\n, [Business Development (Sales) Associate], ]",[\n Exploring Infinitie...,CTC 3 - 4 LPA ...,Apply By8 Jul' 21
9,"[\n, [Corporate Sales Associate], ]",[\n Best Roadways Limit...,CTC 3 LPA ...,Apply By7 Jul' 21
10,"[\n, [Sales Executive - Mobile/Electronics], ]",[\n iShopAtoZ ...,CTC 3 - 6 LPA ...,Apply By7 Jul' 21
11,"[\n, [Reactjs Developer], ]",[\n The Tech Bridge ...,CTC 3 LPA ...,Apply By7 Jul' 21
12,"[\n, [Software Engineer], ]",[\n SalaryBox ...,CTC 5 - 15 LPA ...,Apply By7 Jul' 21
13,"[\n, [PHP & LARAVEL DEVELOPER], ]",[\n Nyx Wolves ...,CTC 3 - 3.05 LPA ...,Apply By4 Jul' 21
14,"[\n, [Backend Developer (Ruby On Rails)], ]",[\n Wollfish Labs Priva...,CTC 6 - 8 LPA ...,Apply By4 Jul' 21
15,"[\n, [Customer Service Specialist], ]",[\n Wono Inc ...,CTC 5.2 - 6.4 LPA ...,Apply By3 Jul' 21
16,"[\n, [Graphic Designer], ]",[\n Wono Inc ...,CTC 5 - 6.5 LPA ...,Apply By3 Jul' 21
17,"[\n, [Digital Marketing Specialist], ]",[\n Wono Inc ...,CTC 5 - 6.5 LPA ...,Apply By3 Jul' 21
18,"[\n, [Junior Corporate Sales Executive], ]",[\n Wyntem ...,CTC 3 - 3.5 LPA ...,Apply By3 Jul' 21
19,"[\n, [Backend Developer], ]",[\n HomeJam ...,CTC 7 - 8.5 LPA ...,Apply By3 Jul' 21
20,"[\n, [Junior Operations Executive], ]",[\n NCTI LLP ...,CTC 3 - 3.6 LPA ...,Apply By3 Jul' 21
21,"[\n, [Internal Audit Associate], ]",[\n Global Group ...,CTC 4.8 - 6 LPA ...,Apply By3 Jul' 21
22,"[\n, [Business Marketing Manager], ]",[\n MentorBoxx ...,CTC 4 - 8.5 LPA ...,Apply By3 Jul' 21
23,"[\n, [React Native Developer], ]",[\n Runners Planet ...,CTC 6.62 - 7.95 LPA ...,Apply By3 Jul' 21
24,"[\n, [Research And Communications Associate], ]",[\n Institute For Gover...,CTC 3 - 4.5 LPA ...,Apply By3 Jul' 21
25,"[\n, [Data Scientist], ]",[\n ProtonAutoML ...,CTC 3 - 3.5 LPA ...,Apply By2 Jul' 21
26,"[\n, [Data Science Django Developer], ]",[\n Markytics ...,CTC 3 - 4.5 LPA ...,Apply By2 Jul' 21
27,"[\n, [Corporate Sales Associate], ]",[\n MiM-Essay ...,CTC 5 - 6.5 LPA ...,Apply By2 Jul' 21
28,"[\n, [Full Stack Developer], ]",[\n Wondermail ...,CTC 4 - 7 LPA ...,Apply By1 Jul' 21
29,"[\n, [Full Stack Developer (MERN)], ]",[\n Project Tinker ...,CTC 4 - 7.2 LPA ...,Apply By3 Jul' 21
30,"[\n, [Business Development Executive], ]",[\n Kaizen Academy ...,CTC 4.5 - 6 LPA ...,Apply By1 Jul' 21
31,"[\n, [Sales Development Representative], ]",[\n Amigobulls ...,CTC 5.5 - 6.5 LPA ...,Apply By1 Jul' 21
32,"[\n, [Graphic Designer], ]",[\n Underground Movemen...,CTC 3 - 5 LPA ...,Apply By1 Jul' 21
33,"[\n, [Operations Executive], ]",[\n Alphacore Technolog...,CTC 3 - 3.5 LPA ...,Apply By1 Jul' 21
34,"[\n, [Business Development Executive], ]",[\n Ruhcom Enterprises ...,CTC 3 LPA ...,Apply By1 Jul' 21
35,"[\n, [Admission Counselor (Sales)], ]",[\n Sky Education Group...,CTC 3 LPA ...,Apply By30 Jun' 21
36,"[\n, [Sales And Business Development Analyst], ]",[\n Mo's F&B Group ...,CTC 3 - 3.1 LPA ...,Apply By30 Jun' 21
37,"[\n, [Growth Hacking Digital Marketer], ]",[\n Sleep Love ...,CTC 3 - 3.5 LPA ...,Apply By3 Jul' 21
38,"[\n, [Junior Node.js Developer], ]",[\n Askadmissions.ai ...,CTC 3 - 4 LPA ...,Apply By30 Jun' 21
39,"[\n, [Junior Digital Marketing Executive], ]",[\n Krivy ...,CTC 3 LPA ...,Apply By30 Jun' 21