In [2]:
# Let's import all the required libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys

### Question 1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
url="https://www.naukri.com/"
driver.get(url)

In [5]:
#finding element for job search
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [6]:
#write on search bar for keyword
search_job.send_keys('Data Analyst')

In [7]:
#finding element for job Location bar search
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc

In [8]:
#write on location search bar for keyword
search_loc.send_keys("Bangalore")

In [9]:
#finding search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

In [10]:
#do click using xpath function
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

Now we can see that window is opened by webdriver , So now we will extract

Job_title
company_names
experinece_list
Locations_list

In [11]:
#putting xpath for job_titles
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="6e5e9f78-fbc4-4438-9800-df7a5789014c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="f7bb1ca9-4d1b-4d12-9fed-6d0fd1065934")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="28df61b5-0a9a-43c7-88a0-b255f2321d8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="028fdcdd-0495-405b-9a0b-bfb3910bd1f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="02224894-2a6f-4419-8605-6e3e564d6c8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="1f1bee94-5d6f-4b91-aac3-dd7994855d7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="a6441618-c60d-4688-a105-1a9bb9a8c48c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="33047a93-0635-429c-a520-9047f90e26ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="36f400c9-0d46-40cd-8305-e9db9c95eebc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="ca6e3d8a-ce01-4ab2-9bfb-423b04d0d217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="d2ba29c8-1b98-4ac5-8827-c5235b74f89c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="2c57432a-f25e-43db-b5a1-929c6c019d76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="98a9eaf3-de95-4934-8a3c-5fed91f12ba0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="5dae9d49-f3c5-4bb1-ba59-787504f4d72a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="6a8abc2a-9954-492b-817a-e6a0f49e42e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="a87fc32c-4da4-4196-be91-a862622f51dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="25032b6e-26a5-4104-b8e2-e9cfc57863cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="ac6d8051-da6e-4e2c-b3ea-c2b86a70133f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="d5b31cb5-2dc9-49ea-b149-7eeba634f91b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="2257d22f-c317-4d7c-b13e-aeccd6b19dc8")>]

Now we will extract text of job_titles

In [12]:
#create a loop to extract text of job_titles tags
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Senior Data Analyst - Data Lineage',
 'Data Analyst - Informatica MDM',
 'Data analysts',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Business/Data Analyst - SSE/LA',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'data analyst',
 'RC HIA - Data Analyst - A2',
 'Data Analyst (Contractual)',
 'Procurement Data Analyst',
 'Data Analyst',
 'Hiring Consultant Data Analyst Contractual',
 'Data Analyst/ Data Consultant (Various Levels – Senior/ Mid/ Junior)',
 'Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst']

In [13]:
#putting xpath for company_name
companies_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="e77dd55f-542b-424a-aafa-153ac451a536")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="eb54f08f-4122-4349-a7fa-c1af6fd12996")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="795eefc0-5ce6-4907-8e40-61dd9764a9e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="7099d392-3385-4e85-9313-03225d4e5e68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="aff6054f-1805-471b-8287-19e2d05a1518")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="a91c72ac-50c1-4572-b9ab-40e2b57cf5a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="4c1cad06-7293-45dd-9189-1a20414bd42f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="1436ecbc-5bc4-4762-8684-5c0d7c0e0861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="2d41adae-70d4-4d89-9559-346aa4fc0537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="97966d1d-f994-463b-a477-189a349f0a34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="4cf2534a-20ef-429b-a655-ff45cd06b08e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="f2c607a9-4aae-444a-b100-1ffa492d6ba7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="15c05797-d4ec-4802-99f6-fa661912b238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="f72b208a-375e-4356-a863-07450dbb80c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="a39d9ad1-d016-4691-a6a6-b7fde8af50bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="46b0caa6-5d7d-48b3-afb3-2102f61ad15a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="adcd81ec-35e1-40bd-b54d-476901ab4ba3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="e149460e-6827-45ed-94c3-e0500b99a046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="e6018480-0bc4-4cb5-8733-5a41fa855ddc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="6ea73011-d1ef-4a61-b078-ef96eadb403c")>]

In [14]:
#create a loop to extract text of companies_names tag
companies_name=[]
for i in companies_tags:
    companies_name.append(i.text)
companies_name

['Opex Global Services',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'Mind Circus Innovation',
 'Tech Mahindra Ltd.',
 'CGI Information Systems and Management Consultants',
 'dotSolved India Pvt., Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Disha Consultants',
 'Pricewaterhouse Coopers Private Limited',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'IBM India Pvt. Limited',
 'Flipkart Internet Private Limited',
 'DVSUM INDIA PRIVATE LIMITED',
 'Inflexion Analytix Private Limited',
 'Cimpress India Private Limited',
 'Eze Castle Integration Services (Formerly Alphaserve Technologies)']

In [15]:
#now we will extract experience
exp_list=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
exp_list

[<selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="764692ea-9fd5-4e86-9772-c7d1cc4fd641")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="c6f03de0-8125-4f0a-a13f-03ffb0f45255")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="afdcd01c-9476-4d2a-a68b-45f4f1cb9fd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="49875181-b52b-4c76-b437-76623a6b94a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="886c494a-c408-4f5e-addf-a0b4e605a855")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="b9749e23-5f78-4b79-96e8-f5a804f756d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="a865f7d7-1863-4c4f-8931-574de47bb72f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="9e26b575-794a-4ffc-8b7e-329e684af16e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="0ae308f7-7467-45f1-a3a6-eb0c98442ff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="3b536a9e-540d-47e1-a995-39ec548ac6eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="004194dd-075f-4c23-93ac-28b9fa7563ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="65a00b07-ffee-4f49-bc7f-c12334dbbed7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="207aa198-b0cd-4cff-b35b-853a4cdd3f2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="5063c02f-ba00-4717-988e-28e19d32df93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="bb742d8e-2685-41f1-a5dc-a9ac6c0db4e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="dd9cfadc-cc6f-46c9-b2fa-2b9f2558059e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="6766da77-e227-4a1d-9549-05017c0208ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="0ba9c96e-e0ed-49e8-8c10-3168ce3596c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="796c6838-ed36-45ef-9b9f-af7379869269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="34f632fc-05e5-4b74-86e2-8f09f2e715d1")>]

In [16]:
#create a loop for exp_list
experience=[]
for i in exp_list:
    experience.append(i.text)
experience

['5-10 Yrs',
 '6-9 Yrs',
 '3-5 Yrs',
 '0-1 Yrs',
 '4-8 Yrs',
 '2-5 Yrs',
 '9-13 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '2-4 Yrs',
 '4-6 Yrs',
 '1-4 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '2-6 Yrs',
 '5-10 Yrs',
 '0-3 Yrs',
 '3-8 Yrs',
 '6-11 Yrs']

In [17]:
#now we will extract job_location
locations_list=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
locations_list

[<selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="e4094df5-1b08-4127-aae0-029a35cf00f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="84982830-c0be-4b46-8412-71dec9e871ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="e52f51ba-8b01-43e5-9b4b-f0f987ec28ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="999e3ad5-ee0e-4fc2-89f6-35ec3f3c10d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="e15144ab-1d7c-43bf-82b3-4805b17142a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="187db26e-df80-4c76-8737-24cb966ef44c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="bb1f0f36-2f45-4c9a-b87e-18b7a0ab7ab7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="ead21d76-b2f6-4a46-8869-a6c66a746621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="870ba851-23f4-4611-9128-a13dfc78ede0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="8e5b3019-954b-43e0-917e-fa81e803417d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="78335a8b-b86f-4cb3-b6fd-761bc2a5d83f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="99dfe69f-28f0-436a-8bc5-57e1ee3bde85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="d61ca9d0-52a9-4db8-a0d1-ce1c781fba03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="fd4be9fc-f281-4131-92ed-5718027e3cba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="acc79400-52d4-4e9e-aa4f-667b4ccee43a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="fb5ff656-1a9c-47e5-9a16-47208a88db50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="3cd1eb31-c43f-4ced-9338-1ed2b016524d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="638a941f-1c4d-4a8a-ab46-fd02ba70219e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="e322c1be-dcb3-4831-891c-9463035b900b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cab5e375cf054ac2433993d39036ba0", element="590a3c88-4edc-48a0-b52d-9ea526863000")>]

In [18]:
#create a loop for exp_list
locations=[]
for i in locations_list:
    locations.append(i.text)
locations

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Jaipur, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [19]:
print(len(job_titles),len(companies_name),len(experience),len(locations))

20 20 20 20

As we can see that length of all elementa are equal thats good. Now we can create a table for all element of job list

In [20]:
#create a list of all tags
Jobs_DA=pd.DataFrame({})
Jobs_DA['Title']=job_titles
Jobs_DA['Company Name']=companies_name
Jobs_DA['Experience']=experience
Jobs_DA['Location']=locations

In [21]:
Jobs_DA[:10]

,Title,Company Name,Experience,Location
0,Senior Data Analyst - Data Lineage,Opex Global Services,5-10 Yrs,Bangalore/Bengaluru
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
2,Data analysts,IBM India Pvt. Limited,3-5 Yrs,Bangalore/Bengaluru
3,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Mind Circus Innovation,0-1 Yrs,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru"
4,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.,4-8 Yrs,Bangalore/Bengaluru
5,Business/Data Analyst - SSE/LA,CGI Information Systems and Management Consult...,2-5 Yrs,Bangalore/Bengaluru
6,Business Data Analyst,"dotSolved India Pvt., Ltd.",9-13 Yrs,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)"
7,Data Analyst,Myntra Designs Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.,3-8 Yrs,Bangalore/Bengaluru
9,Data Analyst - Category Demand Management (Rev...,Myntra Designs Pvt. Ltd.,1-4 Yrs,Bangalore/Bengaluru

### Question 2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [22]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [23]:
#finding element for job search
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [24]:
#write on search bar for keyword
search_job.send_keys('Data Scientist')

In [25]:
#finding element for job Location bar search
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc

In [26]:
#write on location search bar for keyword
search_loc.send_keys("Bangalore")

In [27]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

Now we can see that window is opened by webdriver , So now we will extract

Job_title
Job Location
company name
Full job Description

In [28]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"
driver.get(url)

In [29]:
#lets check the job title for the first job
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute('href'))

In [30]:
#define variables
job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [31]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    
    #Fething job_title
    try:
        job_t=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job_t.text)
    except:
        job_title.append('-')
      
    #fething job_location  
    try:
        job_loc=driver.find_element_by_xpath("//span[@class='location ']")
        job_location.append(job_loc.text)
    except:
        job_location.append('-')
        
    #fething comapny_name
    try:
        company_n=driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        company_name.append(company_n.text)
    except:
        company_name.append('-')
    
    #fething job description
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
        job_description.append('-')

In [32]:
print(len(job_title),len(job_location),len(company_name),len(job_description))

10 10 10 10

In [33]:
job_title

['-',
 '-',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Data analytics / Data scientist intern (work from Home)',
 '-',
 'Deputy Manager - Datalabs (Data Scientist)',
 '-',
 '-']

In [34]:
job_location

['-',
 '-',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 '-',
 'Bangalore/Bengaluru',
 '-',
 '-']

In [35]:
company_name

['-',
 '-',
 'Fractal Analytics',
 'FICO',
 'Fractal Analytics',
 'TalkValley LLC',
 '-',
 'HDFC LIFE INSURANCE COMPANY LIMITED',
 '-',
 '-']

In [36]:
job_description

['-',
 '-',
 'Job description\nServe as primary technical lead on all phases of the projects from providing solutioning, experimentation and deployment.\nWilling to get your hands dirty with data analysis as well as be comfortable delegating tasks to junior members on the project team, thus providing technical guidance and oversight to the overall project.\nHands-on solutioning within the chosen AI platform to partner with both customer and internal data solution architects.\nMust Have\n8 years of experience delivering results from advanced analytics projects; with at least 2 years experience leading a project or large workstream\nExperience working on data analytics problems in commercial problems space such as pricing, supply chain, marketing or customer experience. Proven track record with building and deploying supervised classification, regression, deep learning and unsupervised clustering models and time series analysis.\n5 years of Knowledge and or experience with data transformations using SQL, leveraging SAS or SAS Viya platform.\nStatistical model building with 5 years of experience\nBasic understanding of machine learning models development in python and leveraging AWS.\nBachelors Degree in Engineering, Mathematics Analytics, Economics or Business\nNice to Have\n5 years of Knowledge and experience with SAS or SAS Viya platform\nExperience working with remote teams spread across the globe\nMachine Learning modelling experience\nPython programming to build ML models\nAWS or equivalent other cloud based services knowledge SAS EG\nExperience working in a data analytics COE or in an analytics consulting company\nRoleTechnical Architect\nIndustry TypeManagement Consulting\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Production/Industrial\nPG :Any Postgraduate in Any Specialization\nKey Skills\nSupply chainData analysisSASTime series analysisArtificial IntelligenceConsultingMachine learningData analyticsSQLPython',
 'Job description\nJob Summary\nThe candidate should be a Cybersecurity Data Scientist with a background in machine learning for cybersecurity applications.\nHeShe will contribute, provide subject matter expertise in the area of cybersecurity for critical infrastructure systems.\n\nResearch, develop, design and implement machine learning algorithms for cyber threat detection in operational technology environments, under limited direction.\nIdentify data types to enable detection of cyber events.\nTest and validate developed algorithms on real operational data.\nIdentify, define, and scope complex data analytics problems in the cybersecurity domain.\nDevelop cross-domain strategies for increased network security and resiliency of the entire network.\nRoleTeam Lead/Technical Lead\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaIT Software - Network Administration, Security\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Computers\nPG :Post Graduation Not Required\nKey Skills\nbig data analyticsArtificial IntelligenceMachine learningAnti money launderingNetwork securitySubject matter expertiseOperationsdigital transformationFraud detectionFICO',
 'Job description\nPosition Description:\nThe Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.\nJob Responsibilities:\nAbility to understand a problem statement and implement analytical solutions & techniques independently with independently/proactively/thought-leadership\nWork with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions\nFast learner: ability to learn and pick up a new language/tool/ platform quickly\nConceptualize, design, and deliver high-quality solutions and insightful analysis\nConduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems\nCollaborate and coordinate with different functional teams (engineering and product development) to implement models and monitor outcomes\nAbility to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation & Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization\nExperience Required:\nMinimum 10+ years of experience in Machine Learning domain\nExpert level proficiency in at least one of R and Python\nAbility to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms\nExperience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance\nProblem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes\nIntermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis\nWe use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go\nGood to Have:\nExperience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems\nExperience of working in on one or more domains:\nCPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management\nBFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection\nHealthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse\nExperience in working with Linux computing environment and use of command line tools like sed/awk\nGood grasp on databases including RDBMS, NoSQL, MongoDB etc.\nRoleAnalytics Manager\nIndustry TypeMiscellaneous\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nRNoSQLArtificial IntelligenceData StructuresGoSupply Chain ManagementMarketing AnalyticsMachine LearningDeep LearningPython',
 'Job description\nWe are a group of tenured professors from Tier-1 business schools in US universities. We teach machine learning and deep learning to master and PhD students. For our efforts with MentorStudents.org, we are looking to hire a team of interns who are interested in learning data science and analyze data under our supervision.\n\nHours commitment: at least 42.5 hrs/week\n\nDuration of the internship: 3 months\n\nRequired skills: Communication skills, Python, and OOP\n\nPerks (besides getting paid): Learn from professors who teach machine learning in the US\n+ internship completion certificate\n+ endorsement of your candidacy to US companies for a remote job via our placement business unit\n+ networking (check out https://MentorStudents.org)\n\nNext step / TEST for Selection:\nThis test will help you present your resume better and improve your employability. Hence, it is in your interest to work on this test. Create a tutorial in Google doc on how to create a timeline in Tableau Public. Use events from your resume as events for the timeline. You are encouraged to look at https://public.tableau.com/en-us/gallery for inspiration. Send your Google doc link at jobs [at] mentorstudents [dot] org. Make sure to make the link publicly accessible so that our team can evaluate your work.\nRoleTrainee\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - eCommerce, Internet Technologies\nEmployment TypeFull Time, Freelance/Homebased\nRole CategoryOther\nEducation\nUG :Graduation Not Required\nKey Skills\nCommunication SkillsPython\nJupyter\nSkills highlighted with ‘‘ are preferred keyskills',
 '-',
 'Job description\nRoles & Responsibilities\nDevelop end to end solutions including understanding the business need, aggregate & explore data, build and validate predictive modeling using the Machine Language approaches.\nDevelopment of API in Python and Node JS environment\nWork with AI, Business Insights, and InfoSec team to develop the APIs for models.\nTrack and validate the model effectiveness and feed the learnings to fine-tune the models.\n\nCandidate Requirement\nCandidate must have a background in Statistics/Mathematics/Operations Resources/Economics or Similar Subjects with overall analytical experience of >4 years\nMust have hands on experience in Model Development or Validation for 2 years\nCandidate must have experience in the latest ensemble techniques like Gradient boosting, Deep Learning, Random Forest, Optimization etc\nMust be proficient in Python and Node JS. Knowledge of SQL is an add-on\n\n\n\nHDFC Life does not charge applicants any recruitment fee or a deposit in return for job offers. HDFC Life does not authorize any third party to make employment offers, refer or place candidates, for a fee charged to the applicant.\nRoleOther\nIndustry TypeInsurance\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nPredictive ModelingArtificial IntelligenceNode.JsStatisticsDeep LearningRandom ForestSQLModel DevelopmentData ScienceEnsembleJavascriptdata scientistPython',
 '-',
 '-']

In [37]:
#create a list of all tags
Jobs_DS=pd.DataFrame({})
Jobs_DS['Title']=job_title
Jobs_DS['Job Location']=job_location
Jobs_DS['Company Name']=company_name
Jobs_DS['Job Description']=job_description

In [38]:
Jobs_DS

,Title,Job Location,Company Name,Job Description
0,-,-,-,-
1,-,-,-,-
2,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,Job description\nServe as primary technical le...
3,Lead Data Scientist,Bangalore/Bengaluru,FICO,Job description\nJob Summary\nThe candidate sh...
4,Lead Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics,Job description\nPosition Description:\nThe Ar...
5,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,Job description\nWe are a group of tenured pro...
6,-,-,-,-
7,Deputy Manager - Datalabs (Data Scientist),Bangalore/Bengaluru,HDFC LIFE INSURANCE COMPANY LIMITED,Job description\nRoles & Responsibilities\nDev...
8,-,-,-,-
9,-,-,-,-

### Question 3: In this question you have to scrape data using the filters available on the webpage

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [23]:
#lets run the chrome driver and url for naukri.com
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

#finding element for job search
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys('Data Scientist')
driver.find_element_by_xpath("//button[@class='btn']").click()
time.sleep(7)

#lets tick the checkbox of location
job_chk_box=driver.find_element_by_xpath("//span[@title='Delhi / NCR']").click()
time.sleep(4)
job_chk_box


#lets tick the checkbox of salary range
search_salary=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()
time.sleep(4)
search_salary


#lets create emptylist of title,location,company name,exp,salary and scrape the data

job_titles=[]
job_location=[]
company_name=[]
experience=[]
salary_range=[]
time.sleep(5)

#lets scrape data for job_title
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in job_title:
    job_titles.append(i.text)
    
    
#lets scrape job_location
job_loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in job_loc:   
    job_location.append(i.text)
    
    
#lets scrape data for company_name
comp_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in comp_name:    
    company_name.append(i.text)
  
    
#lets scrape data for experience
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in exp:    
    experience.append(i.text)
   
    
#lets scrape data for Salary range
salary=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
for i in salary:  
    salary_range.append(i.text)
    
print(len(job_titles),len(job_location),len(company_name),len(experience),len(salary_range))

#Lets Create Dataframe for our data                                                          
DS_Jobs=pd.DataFrame({})                                                            
DS_Jobs['Job Title']=job_titles
DS_Jobs['Job Location']=job_location
DS_Jobs['Company Name']=company_name
DS_Jobs['Experience']=experience
DS_Jobs['Salary']=salary_range
DS_Jobs[:10]

20 20 20 20 20

,Job Title,Job Location,Company Name,Experience,Salary
0,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs,"2,00,000 - 3,00,000 PA."
1,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,Not disclosed
2,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs,Not disclosed
3,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs,"3,50,000 - 4,50,000 PA."
4,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,3-5 Yrs,Not disclosed
5,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD,4-7 Yrs,Not disclosed
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd,2-5 Yrs,Not disclosed
7,Data Scientist,Noida,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs,Not disclosed
8,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs,"5,00,000 - 8,00,000 PA."
9,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs,"3,50,000 - 6,50,000 PA."

### Question 6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [41]:
#Let's call the Function Definition

def flipkart_sunglasses(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    driver.implicitly_wait(10)
    
    #Let's navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #Let's search for sunglasses product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sunglasses')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    # Let's create empty list for storing the data
    sunglass_brand_name=[]
    sunglass_description=[]
    sunglass_price=[]
    sunglass_discount=[]
    
    # Let's scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sunglass_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sunglass_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sunglass_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sunglass_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    # Let's create a DataFrame for our data   
    sunglasses_flip=pd.DataFrame({})
    sunglasses_flip['Product Brand']=sunglass_brand_name[:100]
    sunglasses_flip['Product Description']=sunglass_description[:100]
    sunglasses_flip['Price of Product']=sunglass_price[:100]
    sunglasses_flip['Discount on Product']=sunglass_discount[:100]
    return sunglasses_flip

In [42]:
# Let's call the Calling Function

flipkart_sunglasses('https://www.flipkart.com/')

,Product Brand,Product Description,Price of Product,Discount on Product
0,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹485,68% off
1,PIRASO,UV Protection Round Sunglasses (Free Size),₹209,82% off
2,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹499,50% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹666,16% off
...,...,...,...,...
95,GANSTA,UV Protection Aviator Sunglasses (57),₹349,82% off
96,Aislin,"UV Protection, Gradient Butterfly, Over-sized ...",₹598,72% off
97,Silver Kartz,UV Protection Aviator Sunglasses (88),₹255,78% off
98,Aislin,"UV Protection, Gradient Wayfarer, Cat-eye Sung...",₹358,78% off
99,Aislin,UV Protection Wayfarer Sunglasses (58),₹475,77% off

### Question 7: Scrape 100 reviews data from flipkart.com for iphone11 phone.
You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review

You have to scrape this data for first 100 reviews.

In [43]:
#Let's call the Function Definition

def iphone_100_review(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    rating=[]
    review_summary=[]
    full_review=[]
    
    # Let's scrape the data
    j=0
    while j<10:
    
        ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in ratings:
            rating.append(i.text)
        
        reviews=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in reviews:
            review_summary.append(i.text)
        
        full_reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in full_reviews:
            full_review.append(i.text)
        time.sleep(10)    
        
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(10)
        j+=1
        time.sleep(10)
    
    # Let's create a DataFrame for our data
    iphone_review=pd.DataFrame({})
    iphone_review['Rating']=rating
    iphone_review['Review Summary']=review_summary
    iphone_review['Full Reviews']=full_review
    return iphone_review

In [44]:
# Let's call the Calling Function

iphone_100_review('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace')

,Rating,Review Summary,Full Reviews
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
96,5,Wonderful,This is my first ever I phone. Before this I w...
97,5,Must buy!,It’s an amazing product from apple and the cam...
98,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
99,5,Mind-blowing purchase,This will help you more. See if you are planni...

### Question 8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
Also note that all the steps required during scraping should be done through code only and not manually.

In [45]:
#Let's call the Function Definition

def flip_sneakers(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    
    #Let's navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #Let's search for sneaker product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    # Let's create empty list for storing the data
    sneaker_brand_name=[]
    sneaker_description=[]
    sneaker_price=[]
    sneaker_discount=[]
    
    # Let's scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sneaker_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sneaker_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sneaker_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sneaker_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    # Let's create a DataFrame for our data   
    sneakers_flipkart=pd.DataFrame({})
    sneakers_flipkart['Brand Name']=sneaker_brand_name[:100]
    sneakers_flipkart['Product Descriptions']=sneaker_description[:100]
    sneakers_flipkart['Price']=sneaker_price[:100]
    sneakers_flipkart['Discount %']=sneaker_discount[:100]
    return sneakers_flipkart

In [46]:
# Let's call the Calling Function

flip_sneakers('https://www.flipkart.com/')

,Brand Name,Product Descriptions,Price,Discount %
0,JEETLAV,Sneakers For Men,₹349,65% off
1,BRUTON,Combo Pack Of 4 Casual Sneakers For Men,₹424,89% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
4,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
...,...,...,...,...
95,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹759,60% off
96,Ktiz,Sneakers For Men,₹399,60% off
97,ROCKFIELD,Sneakers For Men,₹396,36% off
98,Jack Diamond,Sneakers For Men,₹635,62% off
99,Bucik,Black Casual Shoes Synthetic Leather for Men S...,₹749,57% off

### Question 9: Go to the link -
https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [47]:
#Let's call the Function Definition

def shoes_myntra(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    brand_name=[]
    description=[]
    product_price=[]
    
    #Let's apply filter for price
    driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()
    time.sleep(3)
    
    #Let's apply filter for colour
    driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()
    time.sleep(3)
    
    # Let's scrape the data
    j=0
    while j<2:
        time.sleep(5)
        
        brands=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
        for q in brands:
            brand_name.append(q.text)
        
        descs=driver.find_elements_by_xpath('//h4[@class="product-product"]')
        for q in descs:
            description.append(q.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="product-price"]')
        for q in prices:
            product_price.append(q.text)
        
        driver.find_element_by_xpath('//a[@rel="next"]').click()    
        time.sleep(5)
        j+=1
    
    # Let's create a DataFrame for our data
    myntra_shoes=pd.DataFrame({})
    myntra_shoes['Brand of the Shoes']=brand_name[0:100]
    myntra_shoes['Short Shoes Description']=description[0:100]
    myntra_shoes['Price of the Shoes']=product_price[0:100]
    return myntra_shoes

In [48]:
# Let's call the Calling Function

shoes=shoes_myntra('https://www.myntra.com/shoes')
shoes

,Brand of the Shoes,Short Shoes Description,Price of the Shoes
0,ADIDAS Originals,Men Superstar Sneakers,Rs. 8799Rs. 10999(20% OFF)
1,Nike,Men JORDAN DELTA Basketball,Rs. 12495
2,UNDER ARMOUR,Men Charged Impulse Knit,Rs. 8999
3,Puma,Men Running Shoes,Rs. 7499
4,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
...,...,...,...
95,PUMA Motorsport,Unisex Woven-Design Sneakers,Rs. 7999
96,Saint G,Women Leather Heeled Boots,Rs. 9900
97,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
98,Heel & Buckle London,Men Leather Monk Shoes,Rs. 9793Rs. 13990(30% OFF)
99,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990(20% OFF)

### Question 10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [51]:
#Let's call the Function Definition

def laptop(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    
    
    # Let's create empty list for storing the data
    item_title=[]
    price=[]
    rating=[]
    
    #Let's search for laptop product and then click search button
    driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
    driver.find_element_by_xpath('//input[@type="submit"]').click()
        
    #Let's apply filter for "Intel Core i7"
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a',).click()
    time.sleep(5)
    
    #Let's apply filter for "Intel Core i9"  
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()
        
    # Let's scrape the data
    titles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
    for i in titles:
        item_title.append(i.text)
    prices=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
    for i in prices:
        price.append(i.text)
    ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')   
    for i in ratings:
        rating.append(i.get_attribute('aria-label'))
        
    # Let's create a DataFrame for our data
    amazon_laptops=pd.DataFrame({})
    amazon_laptops['Title']=item_title[:10]
    amazon_laptops['Price']=price[:10]
    amazon_laptops['Rating']=rating[:10]
    return amazon_laptops

In [52]:
# Let's call the Calling Function

laptop('https://www.amazon.in/')

,Title,Price,Rating
0,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"86,990",4.6 out of 5 stars
1,MSI GL65 Leopard 10SDK-069IN Intel Core i7-107...,"1,20,240",3.0 out of 5 stars
2,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,"1,98,590",3.0 out of 5 stars
3,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,"2,77,390",3.3 out of 5 stars
4,(Renewed) HP EliteBook 820 G4 Laptop (CORE I5 ...,"40,790",4.6 out of 5 stars
5,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,"76,500",4.1 out of 5 stars
6,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"83,077",4.3 out of 5 stars
7,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...","49,999",1.0 out of 5 stars
8,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"47,190",4.3 out of 5 stars
9,(Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...,"1,35,490",3.0 out of 5 stars