In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

import selenium
import pandas as pd
from selenium import webdriver
#to hover your mouse cursor or to change the window tab
from selenium.webdriver.common.action_chains import ActionChains       
import time

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [85]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(5)

#to find top videos
top_vid=driver.find_element_by_xpath('//li[@class="toclevel-1 tocsection-2"]//a')
top_vid.click()
time.sleep(1)

#creating list
rank = []
name = []
artist = []
upload_date = []
views = []                                                     

for i in range (1, 31): #using for loop to scrape all data at onc time
    table='//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr['
    rank_path=driver.find_element_by_xpath(table + str(i) + ']//td[1]')
    rank.append(rank_path.text)
    
    name_path=driver.find_element_by_xpath(table + str(i) + ']//td[2]')
    name.append(name_path.text)
    
    artist_path=driver.find_element_by_xpath(table + str(i) + ']//td[3]')
    artist.append(artist_path.text)
    
    views_path=driver.find_element_by_xpath(table + str(i) + ']//td[4]')
    views.append(views_path.text)
    
    upload_date_path=driver.find_element_by_xpath(table + str(i) + ']//td[5]')
    upload_date.append(upload_date_path.text)
     
#creating dataframe   
top_videos=pd.DataFrame({})
top_videos['Rank']=rank
top_videos['Name']=name
top_videos['Artist']=artist
top_videos['Views']=views
top_videos['Upload Date']=upload_date
top_videos.set_index('Rank', inplace = True)
top_videos

#removing inverted comma "--" and [int] numbers from end of name
top_videos['Name'] = top_videos['Name'].apply(lambda x: x[1:-5])        
top_videos

,Name,Artist,Views,Upload Date
Rank,,,,
1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,8.95,"June 17, 2016"
2.,Despacito,Luis Fonsi,7.44,"January 12, 2017"
3.,Johny Johny Yes Papa,LooLoo Kids,5.54,"October 8, 2016"
4.,Shape of You,Ed Sheeran,5.38,"January 30, 2017"
5.,See You Again,Wiz Khalifa,5.17,"April 6, 2015"
6.,Masha and the Bear – Recipe for Disaster,Get Movies,4.44,"January 31, 2012"
7.,Bath Song,Cocomelon – Nursery Rhymes,4.29,"May 2, 2018"
8.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.25,"February 27, 2018"
9.,Uptown Funk,Mark Ronson,4.22,"November 19, 2014"
10.,Gangnam Style,Psy,4.11,"July 15, 2012"
11.,Phonics Song with Two Words,ChuChu TV,3.98,"March 6, 2014"
12.,Sugar,Maroon 5,3.50,"January 14, 2015"
13.,Dame Tu Cosita,El Chombo,3.45,"April 5, 2018"
14.,Sorry,Justin Bieber,3.45,"October 22, 2015"
15.,Roar,Katy Perry,3.38,"September 5, 2013"
16.,Counting Stars,OneRepublic,3.34,"May 31, 2013"
17.,Thinking Out Loud,Ed Sheeran,3.29,"October 7, 2014"
18.,Wheels on the Bus,Cocomelon – Nursery Rhymes,3.15,"May 24, 2018"
19.,Dark Horse,Katy Perry,3.10,"February 20, 2014"
20.,Faded,Alan Walker,3.10,"December 3, 2015"
21.,Shake It Off,Taylor Swift,3.07,"August 18, 2014"
22.,Girls Like You,Maroon 5,3.07,"May 31, 2018"
23.,Lean On,Major Lazer,3.06,"March 22, 2015"
24.,Bailando,Enrique Iglesias,3.06,"April 11, 2014"
25.,Let Her Go,Passenger,3.02,"July 25, 2012"
26.,Mi Gente,J Balvin,2.94,"June 29, 2017"
27.,Perfect,Ed Sheeran,2.89,"November 9, 2017"
28.,Waka Waka (This Time for Africa),Shakira,2.88,"June 4, 2010"
29.,Axel F,Crazy Frog,2.87,"June 16, 2009"
30.,Hello,Adele,2.85,"October 22, 2015"

# 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.
    
You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time


Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [68]:
driver=webdriver.Chrome("chromedriver.exe")
url2 = 'https://www.bcci.tv/'
driver.get(url2)
time.sleep(3)  

#to go to International fixture page
intnational = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
intnational.click()
time.sleep(1)

#to go to dropsown iten fixture 
fixtures = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']//li[1]")
fixtures.click()
time.sleep(1)

In [65]:
#creating list
match_title=[]
series = []
place = []
date = []
time = []  

title_tag=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in title_tag:
    if i.text is None :
        match_title.append("--") 
    else:
        match_title.append(i.text)
        
series_tag=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
for i in series_tag:
    if i.text is None :
        series.append("--") 
    else:
        series.append(i.text)
    
place_tag=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//span')
for i in place_tag:
    if i.text is None :
        place.append("--") 
    else:
        place.append(i.text)
    
date_tag=driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]//strong[1]')
for i in date_tag:
    if i.text is None :
        date.append("--") 
    else:
        date.append(i.text)
    
time_tag=driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]')
for i in time_tag:
    if i.text is None :
        time.append("--") 
    else:
        time.append(i.text)
        
        
print(len(match_title),len(series),len(place),len(date),len(time))
    
#creating dataframe
match_detail=pd.DataFrame({})                                              
match_detail['Title']=match_title
match_detail['Series']=series
match_detail['Place']=place
match_detail['Date']=date
match_detail['Time']=time
match_detail

11 11 11 11 11

,Title,Series,Place,Date,Time
0,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Sunday 18th July,Sunday 18th July 14:30 IST (05:00 Your Time )
1,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Tuesday 20th July,Tuesday 20th July 14:30 IST (05:00 Your Time )
2,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Friday 23rd July,Friday 23rd July 14:30 IST (05:00 Your Time )
3,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Sunday 25th July,Sunday 25th July 19:00 IST (09:30 Your Time )
4,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Tuesday 27th July,Tuesday 27th July 19:00 IST (09:30 Your Time )
5,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Thursday 29th July,Thursday 29th July 19:00 IST (09:30 Your Time )
6,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4th August,Wednesday 4th August 15:30 IST (06:00 Your Time )
7,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12th August,Thursday 12th August 15:30 IST (06:00 Your Time )
8,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25th August,Wednesday 25th August 15:30 IST (06:00 Your Ti...
9,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2nd September,Thursday 2nd September 15:30 IST (06:00 Your T...
10,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10th September,Friday 10th September 15:30 IST (06:00 Your Ti...

# 3. Scrape the details of selenium exception from guru99.com

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description


Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [81]:
driver=webdriver.Chrome("chromedriver.exe")
url3 = 'https://www.guru99.com/'
driver.get(url3)
time.sleep(3)  

#to go to selenim
selenium=driver.find_element_by_xpath("//a[@title='Selenium']")
selenium.click()
time.sleep(2)

#to go to exceptional handling link
selenium_exception=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
selenium_exception.click()
time.sleep(2)

In [79]:
#create list
Name=[]
Description=[]

name_tag=driver.find_elements_by_xpath('//table[@class="table table-striped"]//td[1]')
for i in name_tag:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
        

description_tag=driver.find_elements_by_xpath('//table[@class="table table-striped"]//td[2]')
for i in description_tag:
    if i.text is None :
        Description.append("--") 
    else:
        Description.append(i.text)
        
print(len(Name),len(Description))

#creating dataframe
Exception=pd.DataFrame({})                                             
Exception['Name']=Name[1:42]
Exception['Description']=Description[1:42]
Exception

42 42

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)


Note: - From statisticstimes home page you have to reach to economy page through code.

In [93]:
driver=webdriver.Chrome("chromedriver.exe")
url4 = 'http://statisticstimes.com/'
driver.get(url4)
time.sleep(3)  

#to find economy feature & showing dropdown
economy=driver.find_element_by_xpath('//div[@class="dropdown"][2]')
economy.click()

#to click on India
india=driver.find_element_by_xpath('//div[@class="dropdown"][2]//a[3]')
india.click()
time.sleep(3)

#to click on gdp of indian state
ind_state=driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]//li[1]')
ind_state.click()

In [106]:
#crete list
rank=[]
state=[]
gsdp_19_20=[]
gsdp_18_19=[]
share_18_19=[]
gdp=[]

rank_tag=driver.find_elements_by_xpath('//td[@class="data1"]')
for i in rank_tag:
    rank.append(i.text)
        
state_tag=driver.find_elements_by_xpath('//td[@class="name"]')
for i in state_tag:
    state.append(i.text)
    
gsdp_19_20_tag=driver.find_elements_by_xpath('//td[@class="data"]')
for i in gsdp_19_20_tag:
    gsdp_19_20.append(i.text)
        
gsdp_18_19_tag=driver.find_elements_by_xpath('//td[@class="data sorting_1"]')
for i in gsdp_18_19_tag:
    gsdp_18_19.append(i.text)
         
share_18_19_tag=driver.find_elements_by_xpath('//td[@class="data"]')
for i in share_18_19_tag:
    share_18_19.append(i.text)
    
gdp_tag=driver.find_elements_by_xpath('//td[@class="data"]')
for i in gdp_tag:
    gdp.append(i.text)
    
    
GDP=pd.DataFrame({})
GDP['Rank']=rank[:33]   #will access till 33rd element of list for ist table of gdp
GDP['State']=state[:33]
GDP['GSDP_19_20']=gsdp_19_20[0:161:5]
GDP['GSDP_18_19']=gsdp_18_19[:33]
GDP['Share_18_19']=share_18_19[1:162:5]
GDP['GDP($Billion)']=gdp[2:163:5]
GDP

,Rank,State,GSDP_19_20,GSDP_18_19,Share_18_19,GDP($Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com

Url = https://github.com/
    
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used


Note: - From the home page you have to click on the trending option from Explore menu through code.

In [27]:
#to explore chrome
driver=webdriver.Chrome("chromedriver.exe")
url5 = 'https://github.com/'
driver.get(url5)
time.sleep(3)  

#to perform explore feature  
explore=driver.find_element_by_xpath('//li[@class="d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center "][2]//summary')
explore.click()

#to click on treding option 
treding=driver.find_element_by_xpath('//ul[@class="list-style-none mb-3"][2]//li[3]//a')
treding.click()
time.sleep(2)

In [28]:
#create list
title=[]
desc=[]
count=[]
lang=[]

#to get repository titles
title_tag=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in title_tag:
    title.append(i.text)

#to get respository description
desc_tag=driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
for i in desc_tag:
    desc.append(i.text)
    
#to get Contributor Count
count_tag=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"][2]//svg[2]')
for i in count_tag:
    if i.text is None :
        count.append("--") 
    else:
        count.append(i.text)
    
#to get language
lang_tag=driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]')
for i in lang_tag:
    if i.text is None :
        lang.append("--") 
    else:
        lang.append(i.text)

print(len(title),len(desc),len(cont),len(lang))

Repo=pd.DataFrame({})
Repo['Repository title']=title
Repo['Repository description']=desc
#Repo['Contributors count']=count
#Repo['Language']=lang
Repo

25 25 0 22

,Repository title,Repository description
0,chefyuan / algorithm-base,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！
1,trekhleb / javascript-algorithms,Algorithms and data structures implemented in ...
2,airbnb / javascript,JavaScript Style Guide
3,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...
4,earthly / earthly,Build automation for the container era
5,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...
6,microsoft / IoT-For-Beginners,"12 Weeks, 24 Lessons, IoT for All!"
7,bndw / wifi-card,Print a QR code for connecting to your WiFi
8,austinsonger / Incident-Playbook,GOAL: Incident Response Playbooks Mapped to MI...
9,ryanmcdermott / clean-code-javascript,Clean Code concepts adapted for JavaScript
10,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...
11,sorrycc / awesome-javascript,A collection of awesome browser-side JavaScrip...
12,jaywcjlove / awesome-mac," Now we have become very big, Different from ..."
13,go-kratos / kratos,A Go framework for microservices.
14,laynH / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books
15,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...
16,goldbergyoni / nodebestpractices,The Node.js best practices list (June 2021)
17,shufflewzc / faker2,不知名大佬备份
18,rosinality / alias-free-gan-pytorch,Unofficial implementation of Alias-Free Genera...
19,fenixsoft / awesome-fenix,讨论如何构建一套可靠的大型分布式系统
20,mikel-brostrom / Yolov5_DeepSort_Pytorch,Real-time multi-object tracker using YOLO v5 a...
21,TheAlphamerc / flutter_ecommerce_app,E-Commerce App built in flutter
22,facebook / folly,An open-source C++ library developed and used ...
23,ailabstw / social-distancing-ios,Taiwan Social Distancing App - iOS
24,Vishal-raj-1 / Awesome-JavaScript-Projects,This Repository contain awesome vanilla JavaSc...

# 6. Scrape the details of top 100 songs on billboard.com

Url = https://www.billboard.com/
    
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [25]:
#to explore chrome
driver=webdriver.Chrome("chromedriver.exe")
url6 = 'https://www.billboard.com/'
driver.get(url6)
time.sleep(3)  

chart = driver.find_element_by_xpath('//li[@aria-controls="menu-charts-desktop"]')
chart.click()
time.sleep(2)

hot = driver.find_element_by_xpath('//div[@id="topchartsChartPanel"]//a[1]')
hot.click()
time.sleep(2)

In [26]:
#create list
song=[]
artist=[]
week_rank=[]
peak_rank=[]
board=[]

song_tag=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song_tag:
    song.append(i.text)
        
artist_tag=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist_tag:
    artist.append(i.text)
    
week_rank_tag=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in week_rank_tag:
    week_rank.append(i.text)
    
peak_rank_tag=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak_rank_tag:
    peak_rank.append(i.text)
    
board_tag=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in board_tag:
    board.append(i.text)
    
Billboard=pd.DataFrame({})
Billboard['Song Name']=song
Billboard['Artist']=artist
Billboard['Week Rank']=week_rank
Billboard['Peak Rank']=peak_rank
Billboard['Chart Board']=board
Billboard

,Song Name,Artist,Week Rank,Peak Rank,Chart Board
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,2,1,8
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,8,1,15
...,...,...,...,...,...
95,All I Know So Far,P!nk,-,74,4
96,What's Next,Drake,-,1,16
97,Enough For You,Olivia Rodrigo,-,14,6
98,Juggernaut,"Tyler, The Creator Featuring Lil Uzi Vert & Ph...",40,40,2
99,Tell Em,Cochise & $NOT,-,64,4

# 7. Scrape the details of Data science recruiters from naukri.com

Url = https://www.naukri.com/
    
You have to find the following details:
    
A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [3]:
#to explore chrome
driver=webdriver.Chrome("chromedriver.exe")
url7 = 'https://www.naukri.com/'
driver.get(url7)
time.sleep(3)  

#to click on recuirtwers feature
rec=driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
rec.click()
time.sleep(2)

#the page opens on new tab, this will move us to that tab
driver.switch_to.window(driver.window_handles[1])  

#job search bar
search=driver.find_element_by_xpath("//div//input[@class='sugInp']")
search.send_keys("Data Science")

# clicking the search button
search_button=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_button.click()

In [4]:
#create list
name=[]
desg=[]
comp=[]
skill=[]
location=[]
href=[]

name_tag=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name_tag:
    name.append(i.text)
        
desg_tag=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in desg_tag:
    desg.append(i.text)
    
comp_tag=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
for i in comp_tag:
    comp.append(i.text)
    href.append(i.get_attribute('href'))
    
skill_tag=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill_tag:
    skill.append(i.text)
       
location_tag=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
for i in href[0::2]:
    driver.get(i)
    time.sleep(3)
    try:
        location_tag = driver.find_element_by_xpath('//div[@class="oh"][2]//a')
        location.append(location_tag.text)
    except:
        location.append('-')

    
DSR=pd.DataFrame({})
DSR['Name']=name
DSR['Designation']=desg
DSR['Company']=comp[::2]
DSR['Skills']=skill
DSR['Location']=location
DSR

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,shravan Kumar Gaddam,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Anik Agrawal,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,subhas patel,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Abhishek - Only Analytics Hiring - India and,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,Institute for Financial Management and Resear,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Balu Ramesh,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Asif Lucknowi,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,InstaFinancials,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Kalpana Dumpala,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,Mubarak,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,Kushal Rastogi,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Ruchi Dhote,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,Mahesh Babu Channa,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,Kapil Devang,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Manisha Yadav,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Riya Rajesh,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,Rashmi Bhattacharjee,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,Faizan Kareem,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Rithika dadwal,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,Azahar Shaikh,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Sandhya Khandagale,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Shaun Rao,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Manas,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,kumar,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Sunil Vedula,"Signal Processing, Machine Learning, Neural Ne...",Others
27,Rajat Kumar,Founder CEO,Rajat Kumar,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Priya Khare,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Dhruv Dev Dubey,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,Jayanth N,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,SREEDHAR,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Radha Manivasagam,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Ravi Dubey,Recruitment Manager,Ravi Dubey,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
34,Prateek Kumar,Head,Prateek Kumar,"Java, Python, Angularjs, Software Testing, Mac...",Noida
35,Amit Sharma,Consultant,Amit Sharma,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,Kanan,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,Shashikant Chaudhary,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",Brad,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Rutuja Pawar,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,Madhusudhan Sridhar,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Ankit Sinha,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Gaurav Chouhan,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Rashi Kacker,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,Ashwini,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Balaji Kolli,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,Rajani Nagaraj,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,ROHIT Kumar,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Amir Chowdhury,"Machine Learning, Data Science, Product Manage...",
49,Shailja Mishra,HR Manager,Shailja Mishra,"consulting, Education Counseling, Educational ...",Noida

# 8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [3]:
#to explore chrome
driver=webdriver.Chrome("chromedriver.exe")
url8 = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url8)
time.sleep(3) 

#create list
name=[]
author=[]
vol=[]
pub=[]
genre=[]

for i in range (0,100):
    name_tag=driver.find_element_by_id('table-cell-10943-' + str(i) + '-1')
    name.append(name_tag.text)
    
    author_tag=driver.find_element_by_id('table-cell-10943-' + str(i) + '-2')
    author.append(author_tag.text)
    
    vol_tag=driver.find_element_by_id('table-cell-10943-' + str(i) + '-3')
    vol.append(vol_tag.text)
    
    pub_tag=driver.find_element_by_id('table-cell-10943-' + str(i) + '-4')
    pub.append(pub_tag.text)
    
    genre_tag=driver.find_element_by_id('table-cell-10943-' + str(i) + '-5')
    genre.append(genre_tag.text)
    
 #creating dataframe
Novels=pd.DataFrame({})                           
Novels['Title']=name
Novels['Author']=author
Novels['Volumes Sold']=vol
Novels['Publisher']=pub
Novels['Genre']=genre
Novels

,Title,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com

Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [7]:
#to explore chrome
driver=webdriver.Chrome("chromedriver.exe")
url9 = 'https://www.imdb.com/list/ls095964455/'
driver.get(url9)
time.sleep(3) 

#create list
name=[]
year=[]
genre=[]
run=[]
rating=[]
vote=[]

name_tag=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//a')
for i in name_tag:
    name.append(i.text)
        
year_tag=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year_tag:
    year.append(i.text)
    
genre_tag=driver.find_elements_by_xpath('//span[@class="genre"]')
for i in genre_tag:
    genre.append(i.text)
        
run_tag=driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in run_tag:
    run.append(i.text)
    
rating_tag=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]//span[2]')
for i in rating_tag:
    rating.append(i.text)    
    
vote_tag=driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote_tag:
    vote.append(i.text)       
    
#creating Dataframe
TV_Series = pd.DataFrame({})                                              
TV_Series['Name']=name
TV_Series['Year Span']=year
TV_Series['Genre']=genre
TV_Series['Run time']=run
TV_Series['Ratings']=rating
TV_Series['Votes']=vote
TV_Series

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,835,132"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"873,915"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"879,210"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"264,179"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,687"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,785"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,390"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"169,554"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,118"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"193,325"

# 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
You have to find the following details:
    
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [20]:
#to explore chrome
driver=webdriver.Chrome("chromedriver.exe")
url10 = 'https://archive.ics.uci.edu/'
driver.get(url10)
time.sleep(3) 

#to click on "view all dataset"
ds=driver.find_element_by_xpath('//font[@size="3"]')
ds.click()
time.sleep(3)

#create list
name=[]
data_type=[]
task=[]
att_type=[]
inst=[]
no_att=[]
year=[]

#to get all table data together
all_data_tag=driver.find_element_by_xpath('//table[@width="100%"]//p[@class="big"]//b')
all_data=int(all_data_tag.text)+2

#creating a list in which each element will contain all the column
for i in range (2,all_data):          
    
    table_tag=driver.find_elements_by_xpath('//table[@border="1"]//tr['+str(i)+']//p')
    name.append(table_tag[0].text)
    data_type.append(table_tag[1].text)
    task.append(table_tag[2].text)
    att_type.append(table_tag[3].text)
    inst.append(table_tag[4].text)
    no_att.append(table_tag[5].text)
    year.append(table_tag[6].text)
    
#creating dataframe
DS_UCI=pd.DataFrame({})                                             
DS_UCI['Dataset name']=name
DS_UCI['Data type']=data_type
DS_UCI['Task']=task
DS_UCI['Attribute type']=att_type
DS_UCI['No of instances']=inst
DS_UCI['No of attribute']=no_att
DS_UCI['Year']=year
DS_UCI

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021